{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Servicio de Soporte Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a id="customize" onclick="history.back();"><i class="fa fa-arrow-left"></i>Back</a></li>
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Modificar Servicio <span class="label label-success">ID SERVICE: {{id_service}}</span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                  <form action="/support_service_manage/update_service_manage/{{id_service}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                      <div class="box-body">
                        <div class="col-lg-12">
                            <div class="box-group">
                                <div class="col-md-6">
                                    <label>Descripción</label>
                                    <input type="text" class="form-control"
                                        placeholder="support for electrical appliances" name="description_service"
                                        required value="{{list_service.description_service}}">
                                </div>
                                <div class="col-md-6">
                                  <label> Incluye en la garantía? </label>
                                  <select class="form-control" name="service_guarantee">
                                        {{#if list_service.service_guarantee }}
                                            <option value="true"> Si</option>
                                            <option value="false"> No</option>
                                        {{else}}
                                            <option value="false"> Si</option>
                                            <option value="true"> No</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="box-group">
                          <button type="submit" class="btn btn-primary col-md-4 pull-left" id="button_m">
                              <i class="fa fa-refresh"></i> Guardar Cambios
                          </button>
                          <a href="/support_service_manage/service_manage" type="button"
                              class="btn btn-danger col-md-4 pull-right" id="button_m">
                              <i class="fa fa-times"></i> Cancelar Cambios
                          </a>
                        </div>
                      </div>
                  </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}
