{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Servicio de Soporte Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Servicio</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- Service Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Servicio
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body">
                            <form action="/support_service_manage/service_manage" method="POST">
                                <div class="col-lg-5">
                                    <div class="box-group">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control"
                                            placeholder="support for electrical appliances" name="description_service"
                                            required value="{{description_service}}">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="box-group">
                                        <label>Incluye Garantía:</label>
                                        <select class="form-control" name="service_guarantee">
                                            <option value="true">Si</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="box-group">
                                        <br>
                                        <button type="submit" class="form-control btn btn-success btn-action"
                                            style="border-radius: 15px;">
                                            <i class="fa fa-suitcase"></i> Registrar Servicio
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ./Service Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Servicios</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <input class="form-control mb-4" id="tableSearch" type="text"
                            placeholder="Type something to search list items">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody id="myTable">
                                    <tr>
                                        <th>#</th>
                                        <th>Descripción</th>
                                        <th>Incluye en la Garantía</th>
                                        <th>Acciones</th>
                                    </tr>
                                    {{#each listservice}}
                                    <tr>
                                        <td>{{id_service}}</td>
                                        <td>{{description_service}}</td>
                                        <td>
                                            {{#if service_guarantee}}
                                            <form
                                                action="/support_service_manage/service_manage_include_exclude/{{id_service}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <button type="submit" class="btn btn-action btn-xs btn-success"
                                                    title="Haz click para descartar en las garantías">
                                                    Si
                                                </button>
                                            </form>
                                            {{else}}
                                            <form
                                                action="/support_service_manage/service_manage_include_exclude/{{id_service}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <button type="submit" class="btn btn-action btn-xs btn-danger"
                                                    title="Haz click para incluir en las garantías">
                                                    No
                                                </button>
                                            </form>
                                            {{/if}}
                                        </td>
                                        <td>
                                            <a href="/support_service_manage/service_manage/update/{{id_service}}"
                                                class="btn btn-link" title="Edit service">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}