{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Cliente Empresa Comercializadora
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Administración de Contratos con Cliente Empresa</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Contratos en General</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Empresa</th>
                                        <th class="col-md-1">Código de Contrato</th>
                                        <th class="col-md-5">Descripción</th>
                                        <th class="col-md-2">Fecha Inicio</th>
                                        <th class="col-md-2">Fecha Fin</th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each contractsList}}
                                    <tr>
                                        <td>{{name_company}}</td>
                                        <td>{{cod_contract}}</td>
                                        <td>{{description_contract}}</td>
                                        <td>{{start_date}}</td>
                                        <td>{{end_date}}</td>
                                        <td>
                                            <form action="/company_management/contract_manage/watch_contract/{{cod_contract}}" method="POST">
                                                <input type="hidden" name="username" value="any name">
                                                <button type="submit" class="btn btn-success btn-sm btn-xs"
                                                    title="PDF Contract">
                                                    <span class="badge bg-green"><i class="fa fa-file-pdf-o"></i> PDF</span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{else}}
                                        <tr><th>No Contracts</th></tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}