{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Cliente Empresa Comercializadora
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Administración de Contratos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Nuevo Contrato
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/company_management/contract_manage" method="POST" enctype="multipart/form-data">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Código de Contrato</label>
                                        <input type="number" class="form-control" placeholder="Contract Code"
                                            name="cod_contract" min="1" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Razón Social</label>
                                        <input type="text" class="form-control" value="{{nameCorporate}}"
                                            name="nit_corporate" disabled>
                                        <input type="hidden" value="{{nameCorporate}}"
                                            name="name_corporate">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Documento Original de Contrato</label>
                                        <input accept=".pdf, .docx" type="file" name="image"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <br>
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Fecha Inicio</label>
                                        <input type="date" class="form-control" name="begin_date" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Fecha Fin</label>
                                        <input type="date" class="form-control" name="end_date" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-4" style="border-radius: 15px;">
                                        <i class="fa fa-check"></i> Guardar Contrato
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Descripción de Contrato</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3" name="description" placeholder="Una descripcion del contrato aqui!..." required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Contratos</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Código</th>
                                        <th class="col-md-4">Descripción</th>
                                        <th class="col-md-2">Fecha Inicio</th>
                                        <th class="col-md-2">Fecha Fin</th>
                                        <th class="col-md-1">Representante</th>
                                        <th class="col-md-1">Estado Contrato</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each listContractOfNIT}}
                                    <tr>
                                        <td>{{cod_contract}}</td>
                                        <td>{{description_contract}}...</td>
                                        <td>{{start_date}}</td>
                                        <td>{{end_date}}</td>
                                        <td>{{name_representative}}</td>
                                        <td>
                                            <form action="/company_management/contract_manage/status/{{nit}}/{{cod_contract}}?_method=PUT" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                {{#if status_contract}}
                                                    <button type="submit" class="btn btn-success bg-green-gradient btn-sm btn-xs"
                                                        title="Enabled Contract">
                                                        <i class="fa fa-check"></i> Habilitado
                                                    </button>
                                                {{else}}
                                                    <button type="submit" class="btn btn-danger bg-red-gradient btn-sm btn-xs" title="Disabled Contract">
                                                        <i class="fa fa-times"></i> Inhabilitado
                                                    </button>
                                                {{/if}}
                                            </form>
                                            <form action="/company_management/contract_manage/watch_contract/{{cod_contract}}"
                                                method="POST">
                                                <button type="submit" class="btn btn-primary btn-sm btn-xs"
                                                    title="PDF Contract">
                                                    <i class="fa fa-file-o"></i> Obtener Contrato
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{else}}
                                        <tr><th>No Contracts</th></tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}