{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Reporte Mensual de Repuestos mas Utilizados</h3>
            </div>
            <div class="box-body">
                <!--- List replacement -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Reporte de Repuestos</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="tab-content padding">
                            <!-- Morris chart - Sales -->
                            <input type="hidden" id="report_service"
                                value="{{#each report_tendency}}{{description_replacement}}-{{to_char}}-{{count}}@ {{/each}}">
                            <canvas id="myChart"></canvas>
                            <script src="/dist/js/chart.js"></script>
                            <script>
                                var arrayData = document.getElementById("report_service").value;
                                arrayData = arrayData.split('@');
                                var arrayTechnical = new Array();
                                var arrayValues = new Array();
                                var arrayColor = new Array();
                                for (i = 0; i < arrayData.length - 1; i++) {
                                    let dataReplace = arrayData[i].split('-')
                                    arrayTechnical.push(`${dataReplace[1]}`);
                                    arrayValues.push(dataReplace[2]);
                                }
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var chart = new Chart(ctx, {
                                    // The type of chart we want to create
                                    type: 'line',
                                    // The data for our dataset
                                    data: {
                                        labels: arrayTechnical,
                                        datasets: [{
                                            label: 'Repuestos Solicitados',
                                            backgroundColor: 'rgba(198, 103, 236, 0.3)',
                                            borderColor: 'rgba(198, 103, 236, 0.8)',
                                            data: arrayValues
                                        }]
                                    },
                                    // Configuration options go here
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        },
                                        plugins: {
                                            filler: {
                                                propagate: true
                                            }
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}