{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Repuesto</h3>
            </div>
            <div class="box-body">
                <!-- Replacement Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Repuesto
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/replacement_manage" method="POST">
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Descripcion</label>
                                        <input type="text" class="form-control" placeholder="8Gb ram memory, "
                                            name="description_replacement"  required>
                                        <input type="hidden" name="replacement" value="{{ description_replacement }}">
                                    </div>
                                    <div class="col-md-3">
                                        <label> Categoria: {{description_category}}</label>
                                        <select class="form-control" name="id_category">
                                            {{#each categoryReplacementList}}
                                                <option value={{id_category}}>{{description_category}}</option>
                                            {{/each}}
                                        </select>
                                    </div> 
                                    <br>
                                    <div class="col-md-2"></div>
                                    <button type="submit" class="btn btn-success col-md-3 pull-right" style="border-radius: 15px;">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Registrar Repuesto
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--- List replacement -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Repuestos</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Descripcion</th>
                                        <th>Categoria</th>
                                        <th>Taller</th>
                                        <th>Stock</th>
                                        <th>Estado</th>
                                        <th>Accion</th>
                                    </tr>
                                    <tbody id="myTable">
                                        {{#each replacementList}}
                                        <tr>
                                        {{#if enable}}
                                            <td>
                                                <div 
                                                    style="border-radius: 30px; text-align: center;">
                                                    <i class="fa fa-gears"></i> {{cod_replacement}}
                                                </div>
                                            </td>
                                        {{else}}
                                            <td>
                                                <div style="border-radius: 30px; text-align: center;">
                                                <i class="fa fa-gears"></i> {{cod_replacement}}
                                                </div>
                                            </td>
                                        {{/if}}
                                            <td>{{description}}</td>
                                            <td>{{category}}</td>
                                            <td>
                                                {{#each stock}}
                                                    {{name}}
                                                {{/each}}
                                            </td>
                                            <td>
                                                {{#each stock}}
                                                    {{quantity}}
                                                {{/each}}
                                            </td>
                                            {{#if enable}}
                                            <td>
                                                <form
                                                    action="/warehouse_management/replacement_manage/disable_enable/{{cod_replacement}}?_method=PUT"
                                                    method="POST">
                                                    <input type="hidden" value="PUT" name="_method">
                                                    <input type="hidden" value="enable" name="status">
                                                    <button type="submit" class="btn btn-action btn-sm btn-xs" >
                                                        <span class="badge bg-green">Habilitado</span>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <a href="/warehouse_management/replacement_manage/update/{{cod_replacement}}" class="btn btn-link" title="Update Replacement">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="/warehouse_management/replacement_report/{{cod_replacement}}" class="btn btn-link" title="Report Replacement">
                                                    <i class="fa fa-line-chart"></i>
                                                </a>
                                            </td>
                                            {{else}}
                                            <td>
                                                <form
                                                    action="/warehouse_management/replacement_manage/disable_enable/{{cod_replacement}}?_method=PUT"
                                                    method="POST">
                                                    <input type="hidden" value="PUT" name="_method">
                                                    <input type="hidden" value="enable" name="status">
                                                    <button type="submit" class="btn btn-action btn-sm btn-xs">
                                                        <span class="badge bg-red">Deshabilitado</span>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-link" title="Update Replacement">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            {{/if}}
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}
