{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Actualizar Repuesto: {{dataReplacement.cod_replacement}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- form Update -->
                <div class="box-group">
                    <form class="form" action="/warehouse_management/replacement_manage/update_replacement/{{dataReplacement.cod_replacement}}?_method=PUT" 
                        method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="col-lg-12">
                            <div class="box-group">
                                <div class="col-md-4">
                                    <label for="title">Descripcion</label>
                                    <input type="text" class="form-control" name="description_replacement" required
                                    value="{{dataReplacement.description_replacement}}" >
                                </div>
                                <div class="col-md-3">
                                    <input type="hidden" value={{dataReplacement.id_category}} id="option">
                                    <label>Categoria</label>
                                    <select class="form-control" name="description_category" value="{{dataReplacement.id_category}}" id="select">
                                        {{#each categoryReplacementList}}
                                        <option value="{{id_category}}">{{description_category}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success col-md-2" style="border-radius: 15px;">
                                    <i class="fa fa-refresh"></i> Actualizar
                                </button>
                                <a type="button" href="/warehouse_management/replacement_manage"
                                    type="button" class="btn btn-danger col-md-2 pull-right"
                                    style="border-radius: 15px;">
                                    <i class="fa fa-times"></i> Cancelar &ThinSpace;
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}