{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Administrar Solicitudes de Servicio Técnico</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <input class="form-control mb-4" id="tableSearch" type="text"
                        placeholder="Type something to search list Guarantee Policy">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;">#</th>
                                <th style="text-align: center;">Fecha Solicitud</th>
                                <th style="text-align: center;">Póliza</th>
                                <th style="text-align: center;">Propietario</th>
                                <th style="text-align: center;">Tipo de Servicio</th>
                                <th style="text-align: center;">Producto</th>
                                <th style="text-align: center;">Categoria</th>
                                <th style="text-align: center;">Descripcion Problema</th>
                                <th style="text-align: center;">Estado</th>
                            </tr>
                        </thead>
                        <tbody id="myTable" style="text-align: center;">
                            {{#each requestList}}
                            <tr id="td-alert">
                                <td><span class="badge bg-blue-gradient">{{request_no}}</span></td>
                                <td>{{date_request}}</td>
                                <td>
                                    {{#if cod_policy}}
                                    <span class="badge bg-green-gradient">{{cod_policy}}</span>
                                    {{else}}
                                    <span class="badge bg-red-gradient">Don't Have</span>
                                    {{/if}}
                                </td>
                                <td>{{name}}<br><span class="badge bg-">{{code_owner}}</span></td>
                                <td>{{description_type}}</td>
                                <td>{{description_product}} <br>
                                    <span class="badge bg-info">Marca: {{brand}}, Modelo: {{model}}</span>
                                </td>
                                <td>{{description_category}}</td>
                                <td>{{description}}</td>
                                <td>
                                    {{#foo state_request '0'}}
                                    <button type="submit" class="btn btn-action btn-xs btn-danger disabled"><i
                                            class="fa fa-times"></i> Solicitud Rechazada</button>
                                    {{/foo}}
                                    {{#foo state_request '1'}}
                                    <button type="submit" class="btn btn-action btn-xs btn-success disabled"
                                        title="Request Accepted">
                                        <i class="fa fa-check"></i> Solicitud Aceptada
                                    </button>
                                    {{/foo}}
                                    {{#foo state_request '2'}}
                                    <div class="btn-group box-group">
                                        <button type="button" class="btn btn-warning btn-sm btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-spinner"></i> In Process
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu bg-yellow" role="menu">
                                            <li>
                                                <form
                                                    action="/owner_management/request_support_service_manage/1/{{request_no}}"
                                                    method="post">
                                                    <button type="submit" class="btn btn-action btn-xs btn-warning"
                                                        title="Press if you Accept the Request"> Acceptar Solicitud
                                                    </button>
                                                </form>
                                            </li>
                                            <li>
                                                <form
                                                    action="/owner_management/request_support_service_manage/0/{{request_no}}"
                                                    method="post">
                                                    <button type="submit" class="btn btn-action btn-xs btn-warning"
                                                        title="Press if you Accept the Request"> Rechazar Solicitud
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    {{/foo}}
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <th colspan="10">No Contracts</th>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="modal modal-info fade" id="modal-info" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Info Modal</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="modal-content" id="img01" width="570" height="500">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline pull-left"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-outline">Save changes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}