{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Servicio de Soporte Tecnico
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a id="customize" href="/support_service_management/support_service_manage"><i class="fa fa-arrow-left"></i>Back</a></li>
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Soporte Tecnico No. {{SupportServiceData.support_no}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- Service List Support Service -->
                <div class="form-group">
                    <p>
                    <b> <i class="fa fa-briefcase"></i> Servicio de Soporte Tecnico #{{SupportServiceData.support_no}}</b><br>
                    <b> <i class="fa fa-list-alt"></i> Solicitud de Servicio #:</b> {{SupportServiceData.request_no}} <br>
                    <b> <i class="fa fa-user"></i> Nombre Propietario: </b> {{SupportServiceData.owner_name}} <br>
                    <b> <i class="fa fa-calendar"></i> Fecha: </b> {{SupportServiceData.service_date}} <br>
                    <b> <i class="fa fa-user-circle-o"></i> Tecnico: </b> {{SupportServiceData.name}} <br>
                    <b> <i class="fa fa-file-text-o"></i> Codigo Poliza : </b> 
                    {{#if SupportServiceData.cod_policy}}
                        <span class="badge bg-green">{{SupportServiceData.cod_policy}}</span>
                    {{else}}
                        <span class="badge bg-red">Producto Sin Garantia!</span>
                    {{/if}} <br>
                    <b> <i class="fa fa-text-width"></i> Descripcion de Problema: </b> {{SupportServiceData.description}} <br>
                    <b> <i class="fa fa-glass"></i> Observaciones: </b> {{SupportServiceData.observations}} <br>
                    <b> <i class="fa fa-money"></i> Precio Total: </b> {{SupportServiceData.total_cost}} Bs.
                    </p>
                </div>
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseServiceList"
                                aria-expanded="false" class="collapsed">
                                Lista de Servicios del Soporte Tecnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseServiceList" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body">
                            <form
                                action="/support_service_management/support_service_manage/add_service/{{SupportServiceData.support_no}}"
                                method="POST">
                                <div class="box-group">
                                    <div class="col-md-6">
                                        <label>Servicios</label>
                                        <select class="form-control" name="id_service">
                                            {{#each listServiceToAssign}}
                                            <option value="{{id_service}}">{{description_service}}</option>
                                            {{else}}
                                            <option>No Hay Servicios Disponibles</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Precio</label>
                                        <input type="number" class="form-control" min="1" placeholder="0" step=".01"
                                            name="cost_service" required>
                                    </div>
                                    <br>
                                    {{#if listServiceToAssign}}
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="fa fa-gear"></i> Registrar
                                    </button>
                                    {{else}}
                                    <button type="submit" class="btn btn-success col-md-3 disabled" disabled
                                        style="border-radius: 15px;">
                                        <i class="fa fa-times-rectangle"></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </form>
                        </div>
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <input class="form-control mb-4" id="tableSearch" type="text"
                                    placeholder="Type something to search list services">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cod</th>
                                            <th>Servicio</th>
                                            <th>Precio</th>
                                            <th>Precio Parcial</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {{#each serviceListOfSupport}}
                                        <tr>
                                            <td>{{id_service}}</td>
                                            <td>{{description_service}}</td>
                                            <td>{{cost}}</td>
                                            <td>{{partialCost}}</td>
                                            <td>
                                                <form
                                                    action="/support_service_manage/support_service_manage/service_delete/{{support_no}}/{{id_service}}?_method=DELETE"
                                                    method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-danger btn-sm btn-xs"
                                                        title="Delete Service {{description_service}}">
                                                        <i class="fa fa-fw fa-trash-o"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {{else}}
                                        <tr><td colspan="6" style="text-align: center; color: white" class="bg-red-gradient"> No hay Servicios Registrados</td></tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Service List Support Service -->
                <!-- Replacement List Support Service -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseReplacementList"
                                aria-expanded="true" class="collapsed">
                                Lista de Repuestos del Soporte Tecnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseReplacementList" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body">
                            <form
                                action="/support_service_management/support_service_manage/add_replacement/{{SupportServiceData.support_no}}"
                                method="post">
                                <div class="box-group">
                                    <div class="col-md-5">
                                        <label>Repuesto</label>
                                        <select class="form-control" name="cod_replacement">
                                            {{#each listReplacementToAssign}}
                                            <option value="{{cod_replacement}}">{{description_replacement}}</option>
                                            {{else}}
                                            <option value="No hay repuestos disponibles"></option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Cantidad</label>
                                        <input type="number" class="form-control" min="1" placeholder="0"
                                            name="quantity" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Precio</label>
                                        <input type="number" class="form-control" min="1" step=".01" placeholder="0"
                                            name="cost" required>
                                    </div>
                                    <br>
                                    {{#if listReplacementToAssign}}
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="fa fa-gears"></i> Registrar
                                    </button>
                                    {{else}}
                                    <button type="submit" class="btn btn-success col-md-3 disabled"
                                        style="border-radius: 15px;" disabled>
                                        <i class="fa fa-times-circle-o"></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </form>
                        </div>
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <input class="form-control mb-4" id="tableSearch" type="text"
                                    placeholder="Type something to search list replacement">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cod</th>
                                            <th>Repuesto</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Precio Parcial</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {{#each replacementListOfSupport}}
                                        <tr>
                                            <td>{{cod_replacement}}</td>
                                            <td>{{description_replacement}}</td>
                                            <td>{{quantity}}</td>
                                            <td>{{cost}}</td>
                                            <td>{{partialCost}}</td>
                                            <td>
                                                <form
                                                    action="/support_service_manage/support_service_manage/replacement_delete/{{support_no}}/{{cod_replacement}}?_method=DELETE"
                                                    method="post">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-danger btn-sm btn-xs"
                                                        href="#support_no" title="see more">
                                                        <i class="fa fa-fw fa-trash-o"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {{else}}
                                        <tr><td colspan="6" style="text-align: center; color: white" class="bg-red-gradient"> No Hay Repuestos Registrados</td></tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Replacement List Support Service -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}