{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Servicio de Soporte Tecnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Servicio de Soporte Tecnico</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Servicio de Soporte Tecnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        {{#if b}}
                        <form action="/support_service_management/support_service_manage" method="POST">
                            <div class="box-group">
                                <div class="col-lg-12">
                                    <div class="col-md-4">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" name="date" value="{{date}}" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tecnico </label>
                                        <input type="hidden" value="{{idTechnical}}" id="option">
                                        <select class="form-control" name="idTechnical" required id="select">
                                            {{#each listTechnical }}
                                               <option value="{{id_technical}}">{{name}}</option>    
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Solicitud N° </label>
                                        <input type="hidden" value="{{requestNo}}" id="option1">
                                        <select class="form-control" name="requestNo" required id="select1">
                                            {{#each listRequest }}
                                               <option value="{{request_no}}">{{request_no}}</option>    
                                            {{/each}}
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Observaciones</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3" name="observation" placeholder="Observationes Aqui..." required>{{observation}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control">
                                    <button type="submit" class="btn btn-success col-md-3" id="button_m">
                                        <i class="fa fa-check"></i> Registrar
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                        {{else}}
                        <div class="jumbotron bg-gray">
                                <h3 class="text-center">No hay Solicitudes de Soporte Tecnico Aceptados Para Registrar...</h3>
                                <a href="/owner_management/request_support_service_manage">
                                    <h3 class="text-center text-bold">Ver Solicitudes</h3>
                                </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <!-- ./Entry Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Servicio de Soporte Tecnico</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">#</th>
                                        <th class="col-md-2">Fecha</th>
                                        <th class="col-md-4">Observaciones</th>
                                        <th class="col-md-1">Solicitud N°</th>
                                        <th class="col-md-2">Tecnico</th>
                                        <th class="col-md-1">Total</th>
                                        <th class="col-md-1">¿Finalizado?</th>
                                        <th class="col-md-1">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each listSupport }}
                                    <tr>
                                        <td >{{support_no}}</td>
                                        <td >{{service_date}}</td>
                                        <td >{{observations}}</td>
                                        <td >{{request_no}}</td>
                                        <td >{{name}}</td>
                                        <td ><span class="badge bg-green">{{total_cost}}</span></td>
                                        {{#if state_support_service}}
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                                        </td>    
                                        {{else}}
                                        <td>
                                            <form action="/support_service_manage/support_service_manage/state/{{support_no}}?_method=PUT" method="POST">
                                                <input type="hidden" value="PUT" name="_method">
                                                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                            </form>
                                        </td>
                                        {{/if}}
                                        
                                        <td>
                                            <a href="/support_service_manage/support_service_manage/update/{{support_no}}" class="btn btn-link" title="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/support_service_management/support_service_manage/{{support_no}}" class="btn btn-link" title="Add Replacement Detail">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/support_service_management/register_invoice/{{support_no}}" class="btn btn-link" title="Register bill">
                                                <i class="fa fa-sticky-note-o "></i>
                                            </a>
                                        </td>
                                    </tr>    
                                    {{/each}}
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}
