{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Servicio de Soporte Tecnico
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a id="customize" onclick="history.back();"><i class="fa fa-arrow-left"></i>Back</a></li>
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Servicio de Soporte No. {{support_no}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- Update Support Service -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Modificar Servicio de Soporte
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form
                            action="/support_service_manage/support_service_manage/update_data/{{support_no}}?_method=PUT"
                            method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" name="date_service"
                                            value="{{supportServiceData.service_date}}" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-4" style="border-radius: 15px;">
                                        <i class="fa fa-suitcase"></i> Modificar
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Observaciones</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3" name="observations"
                                                placeholder="Support Technical Service Observation Here..."
                                                required>{{supportServiceData.observations}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./Update Support Service -->
                <!-- Service List Support Service -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseServiceList"
                                aria-expanded="true" class="collapsed">
                                Lista de Servicio de Soporte Tecnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseServiceList" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body">
                            <form
                                action="/support_service_manage/support_service_manage/update_service_add/{{support_no}}?_method=PUT"
                                method="post">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="box-group">
                                    <div class="col-md-6">
                                        <label>Servicios</label>
                                        <select class="form-control" name="id_service">
                                            {{#each listServiceToAssign}}
                                            <option value="{{id_service}}">{{description_service}}</option>
                                            {{else}}
                                            <option>No hay Servicios Registrados</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Precio</label>
                                        <input type="number" class="form-control" min="1" placeholder="0" step=".01"
                                            name="cost_service" required>
                                    </div>
                                    <br>
                                    {{#if listServiceToAssign}}
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="fa fa-gear"></i> Registrar
                                    </button>
                                    {{else}}
                                    <button type="submit" class="btn btn-success col-md-3 disabled" disabled
                                        style="border-radius: 15px;">
                                        <i class="fa fa-times-rectangle"></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </form>
                        </div>
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <input class="form-control mb-4" id="tableSearch" type="text"
                                    placeholder="Type something to search list services">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cod</th>
                                            <th>Servicio</th>
                                            <th>Precio</th>
                                            <th>Precio Parcial</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {{#each serviceListOfSupport}}
                                        <tr>
                                            <td>{{id_service}}</td>
                                            <td>{{description_service}}</td>
                                            <td>{{cost}}</td>
                                            <td>{{partialCost}}</td>
                                            <td>
                                                <form
                                                    action="/support_service_manage/support_service_manage/update_service_delete/{{support_no}}/{{id_service}}?_method=DELETE"
                                                    method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-danger btn-sm btn-xs"
                                                        title="Delete Service {{description_service}}">
                                                        <i class="fa fa-fw fa-trash-o"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {{else}}
                                        <tr><td colspan="6" style="text-align: center; color: white" class="bg-red-gradient"> No hay Servicios Registrados</td></tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Service List Support Service -->
                <!-- Replacement List Support Service -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseReplacementList"
                                aria-expanded="false" class="collapsed">
                                Lista de Repuestos de Soporte Tecnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseReplacementList" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body">
                            <form
                                action="/support_service_manage/support_service_manage/update_replacement_add/{{support_no}}?_method=PUT"
                                method="post">
                                <input type="hidden" name="_method=PUT" value="PUT">
                                <div class="box-group">
                                    <div class="col-md-5">
                                        <label>Repuestos</label>
                                        <select class="form-control" name="cod_replacement">
                                            {{#each listReplacementToAssign}}
                                            <option value="{{cod_replacement}}">{{description_replacement}}</option>
                                            {{else}}
                                            <option value="No hay Repuestos Disponibles"></option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Cantidad</label>
                                        <input type="number" class="form-control" min="1" placeholder="0"
                                            name="quantity" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Precio</label>
                                        <input type="number" class="form-control" min="1" step=".01" placeholder="0"
                                            name="cost" required>
                                    </div>
                                    <br>
                                    {{#if listReplacementToAssign}}
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="fa fa-gears"></i> Registrar
                                    </button>
                                    {{else}}
                                    <button type="submit" class="btn btn-success col-md-3 disabled" style="border-radius: 15px;" disabled>
                                        <i class="fa fa-times-circle-o"></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </form>
                        </div>
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <input class="form-control mb-4" id="tableSearch" type="text"
                                    placeholder="Type something to search list replacement">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cod</th>
                                            <th>Repuesto</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Precio Parcial</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {{#each replacementListOfSupport}}
                                        <tr>
                                            <td>{{cod_replacement}}</td>
                                            <td>{{description_replacement}}</td>
                                            <td>{{quantity}}</td>
                                            <td>{{cost}}</td>
                                            <td>{{partialCost}}</td>
                                            <td>
                                                <form
                                                    action="/support_service_manage/support_service_manage/update_replacement_delete/{{support_no}}/{{cod_replacement}}?_method=DELETE"
                                                    method="post">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-danger btn-sm btn-xs"
                                                        href="#support_no" title="see more">
                                                        <i class="fa fa-fw fa-trash-o"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {{else}}
                                        <tr><td colspan="6" style="text-align: center; color: white" class="bg-red-gradient"> No Hay Repuestos Registrados</td></tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Replacement List Support Service -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}