{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Categoria de Producto</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registar Categoria de Producto
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/owner_management/product_category" method="POST">
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control" name="description"
                                            value="{{description}}" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-4" id="button_m">
                                        <i class="fa fa-save"></i> Registar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./Entry Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Categorias Existentes</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">#</th>
                                        <th style="text-align: center;">Categoría</th>
                                        <th style="text-align: center;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each listProductCategory }}
                                    <tr>
                                        <td style="text-align: center;">{{id_category}}</td>
                                        <td style="text-align: center;">{{description_category}}</td>
                                        <td style="text-align: center;">
                                            <a href="/owner_management/update_product_category/{{id_category}}"
                                                class="btn btn-link" title="Modificar {{description_category}}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}