{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a id="customize" onclick="history.back();"><i class="fa fa-arrow-left"></i>Back</a></li>
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Categoria Producto ID:{{id_category}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="box-body">
                    <form action="/owner_management/update_product_category/{{id_category}}?_method=PUT" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="col-lg-12">
                            <div class="box-group">
                                <div class="col-md-6">
                                    <label>Descripción</label>
                                    <input type="text" class="form-control" name="description_category" required
                                        value="{{description_category}}">
                                </div>
                                <div class="box-group">
                                    <button type="submit" class="btn btn-success col-md-4" id="button_m">
                                        <i class="fa fa-check"></i> Guardar Cambios
                                    </button>
                                    <a href="/owner_management/product_category" type="button"
                                        class="btn btn-danger col-md-4 pull-right" id="button_m">
                                        <i class="fa fa-times"></i> Cancelar Cambios
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}