{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Nota de Devolucion</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Nota de Devolucion
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/devolution_note_manage" method="POST">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-3">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" name="note_date" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Tecnico</label>
                                        <select class="form-control" name="technical">
                                            {{#each listTechnical}}
                                            <option value="{{id_technical}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Taller</label>
                                        <select class="form-control" name="workshop">
                                            {{#each workshop}}
                                            <option value="{{cod_workshop}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Registrar Devolucion
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-9">
                                    <br>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Descripcion</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3" name="description" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Nota de Devolucion</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nro Nota</th>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                        <th>Nombre del Tecnico</th>
                                        <th>Taller</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each DevolutionNotesList}}
                                    <tr>
                                        <td>{{note_no}}</td>
                                        <td>{{note_date}}</td>
                                        <td>{{description}}</td>
                                        <td>{{techname}}</td>
                                        <td>{{name}}</td>
                                        <td>
                                            <div class="row">
                                                {{#if availableupdate}}
                                                <a href="/warehouse_management/devolution_note_update/{{note_no}}"
                                                    class="btn btn-link" title="Update">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </a>
                                                {{else}}
                                                <a class="btn btn-link" title="Update-Expired time" disabled>
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                                {{/if}}
                                                {{#if availableregisterdetail}}
                                                <a href="/warehouse_management/devolution_note_manage/devolution_note_detail_manage/{{note_no}}"
                                                    class="btn btn-link" title="Detail">
                                                    <i class="glyphicon glyphicon-list-alt"></i>
                                                </a>
                                                {{else}}
                                                <a class="btn btn-link" title="Detail-Expired time" aria-hidden="true" disabled>
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                {{/if}}
                                            
                                        </td>
                                        <td>
                                            <form
                                                action="/warehouse_management/devolution_note_manage/devolution_note_detail_generate_pdf/{{note_no}}"
                                                method="post">
                                                <button type="submit" class="btn btn-link" title="PDF">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                </button>
                                            </form>
                                        </td>
                                        </div>
                                    </tr>    
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}