{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home"></i>Home</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Detalle de Nota de Devolucion: {{note_no}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Repuestos
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/devolution_note_manage/devolution_note_detail_manage/{{note_no}}"
                            method="POST">
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <div class="col-md-5">
                                        <label>Repuesto</label>
                                        <select class="form-control" name="cod_replacement">
                                            {{#each replacementList}}
                                            <option value="{{cod_replacement}}">{{description_replacement}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Cantidad</label>
                                        <input type="number" class="form-control" name="quantity" placeholder="1" min="1" required>
                                    </div>
                                    <br>
                                    <div class="col-md-2"></div>
                                    <button type="submit" class="btn btn-success col-md-2" style="border-radius: 15px;">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Registrar Detalle
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Detalle de Nota de Devolucion</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nro detalle</th>
                                        <th>Repuesto</th>
                                        <th>Cantidad</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each devolutionNoteDetail}}
                                    <tr>
                                        <td>{{id_note_detail}}</td>
                                        <td>{{replacement}}</td>
                                        <td>{{quantity}}</td>
                                        <td>
                                            <form
                                                action="/warehouse_management/devolution_note_manage/devolution_note_detail_delete/{{note_no}}/{{id_note_detail}}?_method=DELETE"
                                                method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-action btn-link"
                                                    title="Delete">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}