{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Proveedor</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Proveedor
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/provider_manage" method="POST">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-3">
                                        <label>NIT/CI</label>
                                        <input type="number" class="form-control"name="nit_ci" min = "1"
                                            placeholder="8707144" value="{{nit_ci}}" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" name="provider_name"
                                           placeholder="Pepito Chumacero" value="{{provider_name}}" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Direccion</label>
                                        <input type="text" class="form-control" name="address" 
                                            placeholder="Av. San Pedro" value="{{address}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-3">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" 
                                        placeholder="pepito.chum@gmail.com" value="{{email}}" required>
                                </div>
                                <div class="col-md-3">
                                    <label>Telefono</label>
                                    <input type="number" class="form-control"name="phone" min = "1"
                                        placeholder="77147891" value="{{phone}}" required>
                                </div>
                                <br>
                                <div class="col-md-3"></div>
                                <br>
                                <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                    <i class="glyphicon glyphicon-ok-sign"></i> Registrar Proveedor
                                </button>
                            </div>
                        </form>
                    </div>   
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Proveedor</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th >Nit/CI</th>
                                        <th >Nombre</th>
                                        <th >Direccion</th>
                                        <th >Email</th>
                                        <th >Telefono</th>
                                        <th >Estado</th>
                                        <th >Accion</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each providerList}}
                                    <tr>
                                        <td>{{nit_ci}}</td>
                                        <td>{{provider_name}}</td>
                                        <td>{{address}}</td>
                                        <td>{{email}}</td>
                                        <td>{{phone}}</td>
                                        {{#if enable}}
                                        <td>
                                            <form action="/warehouse_management/provider_manage/enable_disable/{{nit_ci}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" value="PUT" name="_method">
                                                <input type="hidden" value="disable" name="status">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Disable Provider">
                                                    <span class="badge bg-green">Habilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="/warehouse_management/provider_update/{{nit_ci}}" class="btn btn-link" title="Update">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                        </td>
                                        {{else}}
                                        <td>
                                            <form
                                                action="/warehouse_management/provider_manage/enable_disable/{{nit_ci}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" value="PUT" name="_method">
                                                <input type="hidden" value="enable" name="status">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Enable Provider">
                                                    <span class="badge bg-red">Deshabilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-link" title="Update">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                        </td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}