{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Provider Update: {{nit_ci}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="box-body">
                    <form action="/warehouse_management/provider_update/{{nit_ci}}?_method=PUT" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="col-lg-12">
                            <div class="box-group">
                                <div class="col-md-3">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="provider_name" required
                                        value="{{providerData.provider_name}}">
                                </div>
                                <div class="col-md-5">
                                    <label>Address</label>
                                    <input type="text" class="form-control" name="address" required
                                        value="{{providerData.address}}">
                                </div>
                                <div class="col-md-4">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email" required
                                        value="{{providerData.email}}">
                                </div>
                                <div class="col-md-3">
                                    <label>Phone</label>
                                    <input type="number" class="form-control" name="phone" required
                                        value="{{providerData.phone}}">
                                </div>
                                <div class="col-md-4"></div>
                                <button type="submit" class="btn btn-success col-md-2" id="button_m">
                                    <i class="fa fa-check"></i> Update
                                </button>
                                <a href="/warehouse_management/provider_manage" type="button"
                                    class="btn btn-danger col-md-2 pull-right" id="button_m">
                                    <i class="fa fa-times"></i> Cancel
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}