{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Administrar Polizas de Garantía</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <input class="form-control mb-4" id="tableSearch" type="text"
                        placeholder="Busca algún dato referencial de alguna póliza">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Código</th>
                                <th style="text-align: center;">Fecha Compra</th>
                                <th style="text-align: center;">Fecha Conclusión</th>
                                <th style="text-align: center;">Comprobante</th>
                                <th style="text-align: center;">Propietario</th>
                                <th style="text-align: center;">Producto</th>
                                <th style="text-align: center;">Categoría</th>
                                <th style="text-align: center;">Empresa</th>
                                <th style="text-align: center;">Estado</th>
                            </tr>
                        </thead>
                        <tbody id="myTable" style="text-align: center;">
                            {{#each guaranteePolicyList}}
                            <tr id="td-alert">
                                <td><span class="badge bg-light-blue-gradient">{{cod_policy}}</span></td>
                                <td>{{date_purchase}}</td>
                                <td>{{deadline}}</td>
                                <td>
                                    <button class="bg-aqua-gradient" id="button-load" onclick="loadImage('{{proof}}');">
                                        <img id="{{proof}}" src="http://ec2-54-232-175-236.sa-east-1.compute.amazonaws.com/photo/{{proof}}" class="see" data-toggle="modal"
                                            data-target="#modal-info" style="width: 50px; height: 50px;">
                                    </button>
                                </td>
                                <td>{{name}}<br><span class="badge bg-orange-active">{{code_owner}}</span></td>
                                <td>{{description_product}} <br>
                                    <span class="badge bg-olive-active">Brand: {{brand}}, Model: {{model}}</span><br>
                                    <span class="badge bg-blue-gradient">Invoice No. {{nro_invoice}}</span>
                                </td>
                                <td>{{description_category}}</td>
                                <td>{{name_company}}</td>
                                <td>
                                    {{#foo state_guarantee '1'}} 
                                    <button type="submit" class="btn btn-action btn-xs btn-success disabled" title="You don't change this state"><i class="fa fa-check"></i> Aceptar Póliza</button>
                                    {{/foo}}
                                    {{#foo state_guarantee '2'}} 
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning btn-sm btn-xs"> En Espera</button>
                                        <button type="button" class="btn btn-warning btn-sm btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu bg-yellow" role="menu">
                                            <form action="/owner_management/guarantee_policy_manage/{{cod_policy}}/1" method="post">
                                                <li>
                                                    <button type="submit" class="btn btn-action btn-warning"><small>Acceptar Póliza</small></button>
                                                </li>
                                            </form>
                                            <form action="/owner_management/guarantee_policy_manage/{{cod_policy}}/0" method="post">
                                                <li>
                                                    <button type="submit" class="btn btn-action btn-warning"><small>Rechazar Póliza</small></button>
                                                </li>
                                            </form>
                                        </ul>
                                    </div>
                                    {{/foo}}
                                    {{#foo state_guarantee '0'}} 
                                    <button type="submit" class="btn btn-action btn-xs btn-danger disabled"><i class="fa fa-times"></i>Póliza Rechazada</button>
                                    {{/foo}}
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <th colspan="10">No hay Pólizas</th>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="modal modal-info fade" id="modal-info" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Comprobante de Póliza</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="modal-content" id="img01" width="570" height="500">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline pull-left"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
                <!-- /.box-body -->
                <script>
                    function loadImage(idImage) {
                        var modal = document.getElementById("modal-info");
                        var img = document.getElementById(idImage);
                        var modalImg = document.getElementById("img01");
                        modal.style.display = "block";
                        modalImg.src = img.src;
                    }
                </script>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}