{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Servicio de Soporte Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <!-- ./Entry Register -->
            <div class="box-header">
                <h4 class="box-title">
                    <a>Lista de Caja de Repuesto: {{id_technical}}</a>
                </h4>
            </div>
            <div class="box-body">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <input class="form-control mb-4" id="tableSearch" type="text"
                        placeholder="Type something to search list items">
                    <table class="table table-hover">
                        <thead id="myTable">
                            <tr>
                                <th class="col-md-2">Id Tecnico</th>
                                <th class="col-md-4">Repuesto</th>
                                <th class="col-md-4">Categoria</th>
                                <th class="col-md-2">Cantidad</th>
                            </tr>
                        <tbody id="myTable">
                            {{#each listSpareBox }}
                            <tr>
                                <td>{{id_technical}}</td>
                                <td>{{description_replacement}}</td>
                                <td>{{description_category}}</td>
                                <td>{{quantity}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Facebook Page's RestTeam
            </a>
        </div>
        <!-- /.box-footer-->
</div>
<!-- /.box -->
</section>
<!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}