{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Servicio de Soporte Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Modificar Personal Técnico</h3>
            </div>
            <div class="box-body">
                <!-- Update -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Técnico ID: {{idTechnical}}</h4>
                    </div>
                    <div class="box-body">
                        <form
                            action="/support_service_management/technical_manage/technical_update/{{idTechnical}}?_method=PUT"
                            method="POST">
                            <input type="hidden" value="PUT" name="_method">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Pepito Rodriguez"
                                            value="{{dataTechnical.name}}" name="name" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Email</label>
                                        <input type="text" class="form-control" placeholder="Pepito123@gmail.com"
                                            name="email" value="{{dataTechnical.email}}" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Teléfono</label>
                                        <input type="text" class="form-control" placeholder="74589614" name="phone"
                                            value="{{dataTechnical.phone}}" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-2" id="button_m">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Guardar Cambios
                                    </button>
                                    <a href="/support_service_management/technical_manage"
                                        class="btn btn-danger col-md-2" id="button_m"><i class="fa fa-close"></i>
                                        Cancelar Cambios</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./ Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Especialidadaes del Personal Técnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body">
                            {{#if b}}
                            <div class="card" id="card_middle">
                                <div class="card-header text-center">
                                    <h4 class="text-green"></h4>
                                </div>
                                <div class="card-block">
                                    <form
                                        action="/support_service_management/technical_manage/add_technical_specialty/{{idTechnical}}"
                                        method="POST">
                                        <div class="form-group row has-success">
                                            <label class="col-sm-2 col-form-label">Especialidad</label>
                                        </div>
                                        <div class="form-group row has-success">
                                            <div class="col-sm-12">
                                                {{#each specialtyList }}
                                                <div class="col-md-4" style="background-color: #D4EFDF;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="checkbox" class="" name="specialty[]"
                                                                value="{{id_specialty}}">
                                                        </span>&ThinSpace;&ThickSpace;{{description_specialty}}
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                            <button type="submit" class="btn btn-success col-md-2" id="button_m">
                                                <i class="glyphicon glyphicon-ok-sign"></i> Add
                                            </button>
                                        </div>
                                    </form>
                                    <br>
                                </div>
                            </div>
                            {{else}}
                            <div class="jumbotron bg-purple">
                                <h3 class="text-center">Nothing else to add...</h3>
                                <a href="/support_service_management/technical_manage">
                                    <h3 class="text-center text-gray text-bold">Get Back</h3>
                                </a>
                            </div>
                            {{/if}}
                        </div>

                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">Sus Especialidades</h4>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <input class="form-control mb-4" id="tableSearch" type="text"
                                    placeholder="Type something to search list items">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {{#each technicalSpecialty}}
                                        <tr>
                                            <td>{{id_specialty}}</td>
                                            <td>{{description_specialty}}</td>
                                        </tr>
                                        {{else}}
                                        <div class="jumbotron bg-gray">
                                            <h3 class="text-center">No data yet, Add Something...
                                            </h3>
                                        </div>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}