{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Servicio de Soporte Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Personal Técnico</h3>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Personal Técnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/support_service_management/technical_manage" method="POST">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <input type="hidden" name="user" value="{{ user.username }}">
                                    <div class="col-md-3">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Pepito Rodriguez"
                                            value="{{name}}" name="name" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Pepito123@gmail.com"
                                            name="email" value="{{email}}" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Teléfono</label>
                                        <input type="number" class="form-control" placeholder="74589614" name="phone"
                                            min="1" value="{{phone}}" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-2" id="button_m">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Registrar Técnico
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Agregar Especialidad</h3>
                                        </div>
                                        <div class="panel-body">
                                            {{#each specialtyList}}
                                            <div class="col-md-4" style="background-color: #D4EFDF;">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" class="" name="specialty[]"
                                                            value="{{id_specialty}}">
                                                    </span>&ThinSpace;&ThickSpace;{{description_specialty}}
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista del Personal Técnico</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-0.5">Id</th>
                                        <th class="col-md-2">Nombre</th>
                                        <th class="col-md-1">Email</th>
                                        <th class="col-md-1">Teléfono</th>
                                        <th class="col-md-4.5">Especialidad</th>
                                        <th class="col-md-1">Estado</th>
                                        <th class="col-md-2"></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each technicalList}}
                                    <tr>
                                        <td>{{id_technical}}</td>
                                        <td>{{name}}</td>
                                        <td>{{email}}</td>
                                        <td>{{phone}}</td>
                                        <td>{{gettechnicalspecialty}}</td>
                                        {{#if enable}}
                                        <td>
                                            <form
                                                action="/support_service_management/technical_manage/enable_disable/{{id_technical}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" value="PUT" name="_method">
                                                <input type="hidden" value="disable" name="status">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Disable Technical">
                                                    <span class="badge bg-green">Habilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="/support_service_management/technical_manage/spare_box/{{id_technical}}"
                                                class="btn btn-link" title="Spare Box">
                                                <i class="fa fa-briefcase"></i>
                                            </a>
                                            <a href="/support_service_management/technical_manage/technical_update/{{id_technical}}"
                                                class="btn btn-link" title="Update">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                        </td>
                                        {{else}}
                                        <td>
                                            <form
                                                action="/support_service_management/technical_manage/enable_disable/{{id_technical}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" value="PUT" name="_method">
                                                <input type="hidden" value="enable" name="status">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Enable Technical">
                                                    <span class="badge bg-red">Deshabilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-link" title="Spare Box">
                                                <i class="fa fa-briefcase"></i>
                                            </a>
                                            <a href="#" class="btn btn-link" title="Update">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                        </td>
                                        {{/if}}
                                    </tr>
                                    {{else}}
                                    <div class="jumbotron bg-gray">
                                        <h3 class="text-center">No data yet, Add Something...
                                        </h3>
                                    </div>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Reporte de Trabajo del Personal Técnico</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <div class="tab-content padding">
                                <!-- Morris chart - Sales -->
                                <input type="hidden" id="report_service"
                                    value="{{#each reportSupportService}} {{name}}-{{get_count_services_technical}}, {{/each}}">
                                <canvas id="myChart"></canvas>
                                <script src="/dist/js/chart.js"></script>
                                <script>
                                    var arrayData = document.getElementById("report_service").value;
                                    arrayData = arrayData.split(',');
                                    var arrayTechnical = new Array();
                                    var arrayValues = new Array();
                                    var arrayColor = new Array();
                                    for (i = 0; i < arrayData.length - 1; i++) {
                                        arrayTechnical.push(arrayData[i].substring(1, arrayData[i].indexOf('-')));
                                        arrayValues.push(arrayData[i].substring(arrayData[i].indexOf('-') + 1, arrayData[i].length));
                                        arrayColor.push("#" + ((1 << 24) * Math.random() | 0).toString(16));
                                    }
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    var chart = new Chart(ctx, {
                                        // The type of chart we want to create
                                        type: 'bar',

                                        // The data for our dataset
                                        data: {
                                            labels: arrayTechnical,
                                            datasets: [{
                                                label: 'Report Technical Service',
                                                backgroundColor: arrayColor,
                                                borderColor: arrayColor,
                                                data: arrayValues
                                            }]
                                        },
                                        // Configuration options go here
                                        options: {}
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-default">
                <input type="hidden" value="1" id="idTechnical">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Default Modal</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}