{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a id="customize" href="/warehouse_management/exit_note_manage"><i class="fa fa-arrow-left"></i>Back</a></li>
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Actualizar Nota de Salida:  {{exitNoteData.note_no}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form action="/warehouse_management/exit_note_update/{{exitNoteData.note_no}}?_method=PUT"
                    method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="col-lg-12">
                        <div class="box-group">
                            <div class="col-md-4">
                                <label>Tecnico</label>
                                <select class="form-control" name="id_technical">
                                    <option value="{{exitNoteData.id_technical}}">{{exitNoteData.name}}</option>
                                    {{#each technicalList}}
                                    <option value="{{id_technical}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                <i class="fa fa-check"></i> Actualizar
                            </button>
                            <a type="button" class="btn btn-danger col-md-3 pull-right" onclick="history.back();"
                                style="border-radius: 15px;">
                                <i class="fa fa-times"></i> Cancelar
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-12">
                            <br>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Descripcion Nota de Salida</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea class="form-control" rows="3" name="description"
                                        placeholder="Description Exit Note Here..."
                                        required>{{exitNoteData.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}