{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Nota de Salida</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Nota de Salida
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/exit_note_register" method="POST">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-3">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" name="date_note" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Tecnico</label>
                                        <select class="form-control" name="technical">
                                            {{#each technicalList}}
                                            <option value="{{id_technical}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Taller</label>
                                        <select class="form-control" name="workshop">
                                            {{#each workshopList}}
                                            <option value="{{cod_workshop}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="fa fa-check"></i> Registrar Nota de Salida
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Descripcion Nota de salida</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3" name="description"
                                                placeholder="Descripcion de la nota aqui..." required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Nota de Salida</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                        <th>Nombre del Tecnico</th>
                                        <th>Cantidad de Registros</th>
                                        <th>Taller</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each exitNotesList}}
                                    <tr>
                                        <td>{{note_no}}</td>
                                        <td>{{note_date}}</td>
                                        <td>{{description}}</td>
                                        <td>{{techname}}</td>
                                        <td>{{count_replacement}}</td>
                                        <td>{{name}}</td>
                                        <td>
                                            {{#if availableupdate}}
                                            <a href="/warehouse_management/exit_note_update/{{note_no}}"
                                                class="btn btn-sm btn-xs btn-success" title="Update exit note">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            {{else}}
                                            <a class="btn btn-link btn-sm btn-xs" title="Not Permit" Deshabilitado>
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                            {{/if}}
                                        </td>
                                        <td>
                                            {{#if availableregisterdetail}}
                                            <a href="/warehouse_management/exit_note_manage/exit_note_detail/{{note_no}}"
                                                class="btn btn-sm btn-xs btn-success" title="Register Replacement Detail">
                                                <i class="fa fa-gears"></i>
                                            </a>
                                            {{else}}
                                            <a class="btn btn-link btn-sm btn-xs" title="Not Permit" aria-hidden="true" Habilitado>
                                                <i class="fa fa-times"></i>
                                            </a>
                                            {{/if}}
                                        </td>
                                        <td>
                                            <form
                                                action="/warehouse_management/exit_note_manage/exit_note_detail_generate_pdf/{{note_no}}"
                                                method="post">
                                                <button type="submit" class="btn btn-sm btn-info btn-xs" title="Generate PDF">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}