{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Nota de Ingreso</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title success">
                                Actualizar Nota de Ingreso : {{entryNoteData.income_no}}
                        </h4>
                    </div>
                    <div class="box-body">
                        <form action="/warehouse_management/entry_note/update/{{entryNoteData.income_no}}?_method=PUT" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-6">
                                        <h4 class="text-bold">Taller: {{entryNoteData.name}}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Fecha</label>
                                        <input type="text" class="form-control" name="date_note" value="{{entryNoteData.entry_date}}" disabled>
                                    </div>
                                    
                                    <br>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Descripcion</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3" name="description" placeholder="Description Entry Note Here..." required>{{entryNoteData.description}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success col-md-3" id="button_m">
                                        <i class="fa fa-check"></i> Actualizar
                            </button>

                            <a href="/warehouse_management/entry_note_manage"class="btn btn-danger col-md-3" id="button_m">
                                        <i class="fa fa-close"></i> Cancelar
                            </a>
                        </form>
                    </div>
                </div>
                <!-- ./Entry Register -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}