{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Nota de Ingreso</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Nota de Ingreso
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/entry_note_manage" method="POST">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" name="date_note" value="{{date_note}}"required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Taller: {{workshop_name}}</label>
                                        <select class="form-control" name="cod_workshop">
                                            {{#each workshop }}
                                               <option value="{{cod_workshop}}">{{name}}</option>    
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Proveedor:</label>
                                        <select class="form-control" name="nit_ci">
                                            {{#each provider }}
                                               <option value="{{nit_ci}}">{{provider_name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Descripcion</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3" name="description" value="{{description}}" placeholder="Description Entry Note Here..." required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success col-md-6 text-center" id="button_m">
                                    <i class="fa fa-check"></i> Registrar
                                </button>
                                
                            </div>
                            
                        </form>
                    </div>
                </div>
                <!-- ./Entry Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Nota de Ingreso</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">#</th>
                                        <th class="col-md-2">Fecha</th>
                                        <th class="col-md-4">Descripcion</th>
                                        <th class="col-md-2">Taller</th>
                                        <th class="col-md-2">Proveedor</th>
                                        <th class="col-md-1">Accion</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each listEntryNotes }}
                                    <tr>
                                        <td >{{income_no}}</td>
                                        <td >{{entry_date}}</td>
                                        <td >{{description}}</td>
                                        <td >{{name}}</td>
                                        <td >{{provider_name}}</td>
                                        <td>
                                            <a href="/warehouse_management/entry_note/update/{{income_no}}" class="btn btn-link" title="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/warehouse_management/entry_note_manage/income_detail/{{income_no}}" class="btn btn-link" title="Add Replacement Detail">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </td>
                                    </tr>    
                                    {{/each}}
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}