{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Detalle de Nota de Ingreso: {{incomeNo}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- Income Detail Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                class="collapsed">Registrar Detalle de Ingreso</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/entry_note_manage/income_detail/{{incomeNo}}" method="POST">

                            <div class="box-body">
                               {{#if b}}
                                <div class="col-lg-12">
                                    <div class="box-group">

                                        <div class="col-md-6">
                                            <label>Repuesto: {{replacement}}</label>
                                            <select class="form-control" name="replacement">
                                                {{#each listReplacement }}
                                                <option value="{{description_replacement}}">{{description_replacement}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Cantidad: </label>
                                            <input type="number" class="form-control" name="quantity" min="1" value="{{quantity}}" required>
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-success col-md-3 text-center" id="button_m">
                                            <i class="fa fa-check"></i> Registrar
                                        </button>

                                    </div>
                                </div>
                               {{else}}
                                 <div class="jumbotron bg-purple">
                                     <h3 class="text-center">Nothing else to add...</h3>
                                     <a href="/warehouse_management/entry_note_manage">
                                     <h3 class="text-center text-gray text-bold">Get Back</h3>
                                     </a>
                                 </div>
                               {{/if}}
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./Entry Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Detalle de Ingreso</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">Ingreso N°</th>
                                        <th class="col-md-1">Id Detalle</th>
                                        <th class="col-md-4">Repuesto</th>
                                        <th class="col-md-4">Cantidad</th>
                                        <th class="col-md-1">Accion</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each listIncomeDetail }}
                                    <tr>
                                        <td>{{income_no}}</td>
                                        <td>{{id_income_detail}}</td>
                                        <td>{{replacement}}</td>
                                        <td>{{quantity}}</td>
                                        <td>
                                            <form action="/warehouse_management/entry_note_manage/income_detail/{{id_income_detail}}?_method=DELETE" method="POST">
                                               <input type="hidden" name="_method" value="DELETE">
                                               <input type="hidden" name="incomeNo" value="{{income_no}}">
                                               <button type="submit" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}