{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Categoria de Repuesto</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Categoria de Repuesto
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/replacement_category_manage" method="POST">
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="col-md-5">
                                        <label>Descripcion:</label>
                                        <input type="text" class="form-control" placeholder="Description of Replacement Category"
                                            name="description_replacement_category" required>
                                    </div>
                                    <br>
                                    <div class="col-md-4"></div>
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Registrar Categoria de Repuestos
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Categoria de Repuestos</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead id="myTable">
                                    <tr>
                                        <th class="col-md-2">Id</th>
                                        <th class="col-md-4">Descripcion</th>
                                        <th class="col-md-2">Modificar</th>
                                    </tr>
                                    <tbody id="myTable">
                                        {{#each replacementCategoryList }}
                                        <tr>
                                            <td>{{id_category}}</td>
                                            <td>{{description_category}}</td>
                                            <td>
                                                <a href="/warehouse_management/replacement_category_update/{{id_category}}" class="btn btn-link" title="Update">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}