{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Administrar Cuenta de Cliente Propietarios</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Clientes Propietarios</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">CI</th>
                                        <th class="col-md-1">Nombre</th>
                                        <th class="col-md-1">Telefono</th>
                                        <th class="col-md-2">Email</th>  
                                        <th class="col-md-1">Cantidad Productos</th>
                                        <th class="col-md-1">Estado</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each getListOwner }}
                                    <tr>
                                        <td >{{ci}}</td>
                                        <td >{{name}}</td>
                                        <td >{{phone}}</td>                                                                             
                                        <td >{{email}}</td>
                                        <td >{{quantity}}</td>  
                                        {{#if enable}}  
                                        <td>
                                            <form action="/owner_management/enable_disable_product_owner/{{ci}}?_method=PUT" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <input type="hidden" name="action" value="disable">
                                                <button type="submit" class="btn btn-action btn-success btn-sm btn-xs"
                                                    title="Disable Owner">
                                                    <span class="badge bg-green">enable</span>
                                                </button>
                                            </form>
                                        </td>   
                                        {{else}}                                        
                                        <td>
                                            <form action="/owner_management/enable_disable_product_owner/{{ci}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <input type="hidden" name="action" value="enable">
                                                <button type="submit" class="btn btn-action btn-danger btn-sm btn-xs"
                                                    title="Enable Owner">
                                                    <span class="badge bg-red">disable</span>
                                                </button>
                                            </form>
                                        </td> 
                                        {{/if}}     
                                        </tr>  
                                    {{/each}}                                                                         
                                        
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}
