<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><b>R</b>estTeam</a>
                    </div>
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="inactive"><a href="#"><i class="fa fa-fw fa-child"></i>Olvidé mi password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
            <div class="container">
                <section class="content-header">
                    <h1>
                        Restauración de Usuarios
                        <small>RestTeam</small>
                    </h1>
                </section>
                {{>messages}}
                {{>error}}
                <section class="content">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Escribe la llave enviada en tu email</h3>
                        </div>
                        <form class="box-body" action="/confirm_key" method="post">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <p>Si tu no recibiste el email, porfavor espera por lo menos <b>5 minutos</b>; e intenta otra vez <a type="button" class="btn btn-primary btn-sm btn-xs" onclick="history.back();">back</a></p>
                                    <label>Introduce la llave</label>
                                    <input type="text" class="form-control" placeholder="xxxxxxxx"
                                        name="key" required>
                                    <br>
                                    <button type="submit" class="btn btn-block btn-success" style="border-radius: 15px;"
                                        title="Confirm Key Logger"> Confirmar llave 
                                        <i class="fa fa-key"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>