<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><b>R</b>estTeam</a>
                    </div>
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="inactive"><a href="#"><i class="fa fa-fw fa-child"></i>Olvidé mi Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
            <div class="container">
                <section class="content-header">
                    <h1>
                        Restauración de Usuario
                        <small>RestTeam</small>
                    </h1>
                </section>
                {{>error}}
                <section class="content">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Recupera tu cuenta</h3>
                        </div>
                        <form class="box-body" action="/forgot_my_passwd" method="post">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <p>Estimado usuario, necesitamos el email de su cuenta para poder enviar el correo electronico de seguridad para habilitar su recuperación de cuenta <b>Usuario RestTeam</b></p>
                                    <label>Introduce tu Email</label>
                                    <input type="email" class="form-control" placeholder="juan123@gmail.com"
                                        name="email" required>
                                    <br>
                                    <button type="submit" class="btn btn-block btn-success" style="border-radius: 15px;"
                                        title="Agregar Usuario">Enviar email a esta cuenta
                                        <i class="fa fa-send-o"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>