{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 id="customize">
      {{ user.username }}! Bienvenido a RestTeam
      <small id="customize">Panel de Control</small>
    </h1>
  </section>
  {{> messages }}
  {{>error}}
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <!-- Users Management-->
      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-light-blue-gradient">
          <div class="inner">
            <h4><b>Gestión <br>&ThinSpace; &ThinSpace; de Usuarios y Roles</b></h4>
            <p style="font-size: small;">
              Usuarios, Roles, Privilegios, Bitacora and Reporte de actividades
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <div class="button-a-mobile-collapsed">
            <a type="button" class="btn btn-primary btn-block btn-flat dropdown-toggle" data-toggle="dropdown"
              aria-expanded="true">
              Información <i class="fa fa-arrow-circle-right"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user_management/user_manage">Gestionar Usuario</a></li>
              <li><a href="/user_management/role_manage">Gestionar Rol</a></li>
              <li><a href="/user_management/privilege_manage">Gestionar Privilegios</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ./Users Management-->
      <!-- ./col -->
      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-green-gradient">
          <div class="inner">
            <h4><b>Gestión<br>&ThinSpace; &ThinSpace; de Cliente Empresa</b></h4>
            <p style="font-size: small;">
              Contratos, Representantes, Reportes de Empresa de Cliente Empresa
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-briefcase"></i>
          </div>
          <div class="button-a-mobile-collapsed">
            <a type="button" class="btn btn-success btn-block btn-flat dropdown-toggle" data-toggle="dropdown"
              aria-expanded="true">
              Información <i class="fa fa-arrow-circle-right"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/company_management/company_manage">Gestionar Cliente Empresa</a></li>
              <li><a href="/company_management/representative_manage/">Gestion de Representante de Empresa</a></li>
              <li><a href="/company_management/contract_list/">Lista de Contratos</a></li>
              <li><a href="/company_management/report_company_invoice">Reporte de Servicios por Empresa</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-yellow-gradient">
          <div class="inner">
            <h4><b>Administración<br>de Inventarios de Almacén</b></h4>
            <p style="font-size: small;">
              Talleres, Repuestos, Notas de Entrada, Salida y Devolución
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-truck"></i>
          </div>
          <div class="button-a-mobile-collapsed">
            <a type="button" class="btn btn-warning btn-block btn-flat dropdown-toggle" data-toggle="dropdown"
              aria-expanded="true">
              Información <i class="fa fa-arrow-circle-right"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/warehouse_management/workshop_manage">Gestionar Taller</a></li>
              <li><a href="/warehouse_management/replacement_manage">Gestionar Repuestos</a></li>
              <li><a href="/warehouse_management/entry_note_manage">Gestionar Notas de Entrada</a></li>
              <li><a href="/warehouse_management/exit_note_manage">Gestionar Notas de Salida</a></li>
              <li><a href="/warehouse_management/devolution_note_manage">Gestionar de Notas de Devolución</a></li>
              <li><a href="/warehouse_management/provider_manage">Gestionar Proveedor</a></li>
              <li><a href="/warehouse_management/replacement_category_manage">Gestionar Categoria Repuesto</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-red-gradient">
          <div class="inner">
            <h4><b>Gestión de Servicio<br>&ThinSpace; &ThinSpace;de Soporte Técnico</b></h4>
            <p style="font-size: small;">
              Soporte Técnico, Personal, Servicios, Especialidad y Facturas
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-gears"></i>
          </div>
          <div class="button-a-mobile-collapsed">
            <a type="button" class="btn btn-danger btn-block btn-flat dropdown-toggle" data-toggle="dropdown"
              aria-expanded="true">
              Información <i class="fa fa-arrow-circle-right"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/support_service_management/support_service_manage">Gestionar Servicio Soporte Técnico</a>
              </li>
              <li><a href="/support_service_manage/service_manage">Gestionar Servicio</a></li>
              <li><a href="/support_service_management/technical_manage">Gestionar Personal Técnico</a></li>
              <li><a href="/support_service_management/service_invoice">Administrar Facturas de Servicio</a></li>
              <li><a href="/support_service_management/specialty_manage">Gestionar Especialidad</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- ./Small boxes (Stat box) -->
    <!-- Prueba -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable ui-sortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right ui-sortable-handle">
            <li class="pull-left header"><i class="fa fa-pie-chart"></i>Reporte de Servicio de Soporte Técnico</li>
          </ul>
          <div class="tab-content padding">
            <!-- Morris chart - Sales -->
            <input type="hidden" id="report_service"
              value="{{#each reportTechnical}} {{name}}-{{get_count_services_technical}}, {{/each}}">
            <canvas id="myChart"></canvas>
            <script src="/dist/js/chart.js"></script>
            <script>
              var arrayData = document.getElementById("report_service").value;
              arrayData = arrayData.split(',');
              var arrayTechnical = new Array();
              var arrayValues = new Array();
              var arrayColor = new Array();
              for (i = 0; i < arrayData.length - 1; i++) {
                arrayTechnical.push(arrayData[i].substring(1, arrayData[i].indexOf('-')));
                arrayValues.push(arrayData[i].substring(arrayData[i].indexOf('-') + 1, arrayData[i].length));
                arrayColor.push("#" + ((1 << 24) * Math.random() | 0).toString(16));
              }
              var ctx = document.getElementById('myChart').getContext('2d');
              var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'doughnut',

                // The data for our dataset
                data: {
                  labels: arrayTechnical,
                  datasets: [{
                    label: 'Report Technical Service',
                    backgroundColor: arrayColor,
                    borderColor: arrayColor,
                    data: arrayValues
                  }]
                },
                // Configuration options go here
                options: {}
              });
            </script>
          </div>
        </div>
        <!-- /.nav-tabs-custom -->
        <!-- solid sales graph -->
        <div class="nav-tabs-custom">
          <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-users"></i>
            <h3 class="box-title">Ultimas Actividades</h3>
          </div>
          <div class="box-body border-radius-none">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Fecha</th>
                  <th>Actividad</th>
                </tr>
              </thead>
              <tbody>
                {{#each littleListBackLog}}
                <tr>
                  <td>{{user}}</td>
                  <td><time datetime="{{date}}">{{date}}</time></td>
                  <td>{{activity}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.box -->
      </section>
      <section class="col-lg-6 connectedSortable ui-sortable">
        <!-- Map box -->
        <div class="nav-tabs-custom">
          <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-list-alt"></i>
            <h3 class="box-title">Solicitud de Servicio de Soporte</h3>
          </div>
          <div class="box-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Póliza</th>
                  <th>Fecha</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each reportRequest}}
                <tr>
                  <td><small>{{request_no}}</small></td>
                  {{#if cod_policy}}
                  <td><small><span class="badge bg-green-gradient"><small>{{cod_policy}}</small></span></small></td>
                  {{else}}
                  <td><span class="badge bg-red-gradient"><small>No hay!</small></span></td>
                  {{/if}}
                  <td><small>{{date_request}}</small></td>
                  <td><small>{{description_type}}</small></td>
                  <td>
                    <div class="btn-group box-group small-box">
                      <button type="button" class="btn btn-warning btn-sm btn-xs dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-spinner"></i> In Process
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu bg-yellow" role="menu">
                        <li>
                          <form action="/owner_management/request_support_service_manage/1/{{request_no}}?_method=PUT"
                            method="post">
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="btn btn-action btn-xs btn-warning"
                              title="Press if you Accept the Request"> Accept Request
                            </button>
                          </form>
                        </li>
                        <li>
                          <form action="/owner_management/request_support_service_manage/0/{{request_no}}?_method=PUT"
                            method="post">
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="btn btn-action btn-xs btn-warning"
                              title="Press if you Accept the Request"> Decline Request
                            </button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.box -->
        <!-- solid sales graph -->
        <div class="nav-tabs-custom">
          <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-gears"></i>
            <h3 class="box-title">Registro de Soportes Técnicos</h3>
          </div>
          <div class="box-body border-radius-none">
            <div class="chart" id="line-chart" style="height: 250px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <input type="hidden" id="report_support_service"
                value="{{#each reportSupportService}} {{service_date}}-{{count}}, {{/each}}">
              <canvas id="myChart2"></canvas>
              <script>
                var arrayData = document.getElementById("report_support_service").value;
                arrayData = arrayData.split(',');
                var arraySupport = new Array();
                var arrayCount = new Array();
                for (i = 0; i < arrayData.length - 1; i++) {
                  arraySupport.push(arrayData[i].substring(1, arrayData[i].indexOf('-')));
                  arrayCount.push(arrayData[i].substring(arrayData[i].indexOf('-') + 1, arrayData[i].length));
                }
                var color = "#" + ((1 << 24) * Math.random() | 0).toString(16);
                var ctx = document.getElementById('myChart2').getContext('2d');
                var chart = new Chart(ctx, {
                  // The type of chart we want to create
                  type: 'line',

                  // The data for our dataset
                  data: {
                    labels: arraySupport,
                    datasets: [{
                      label: 'Level Support Service Last Date',
                      backgroundColor: color,
                      borderColor: color,
                      data: arrayCount
                    }]
                  },
                  // Configuration options go here
                  options: {
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        }
                      }]
                    }
                  }
                });
              </script>
            </div>
          </div>
        </div>
        <div class="nav-tabs-custom">
          <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-list-alt"></i>
            <h3 class="box-title">Reportes de Facturas</h3> <br>
            <li>
              <form action="/user_management/report_invoice_user" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-action btn-xs btn-success"> <i class="fa fa-file-pdf-o"></i>
                  Generar pdf
                </button>
              </form>
            </li>
          </div>
          <div class="tab-content padding">
            <input type="hidden" id="service_invoice" value="{{#each reportUser}} {{username}}-{{count}}, {{/each}}">
            <canvas id="myChart5"></canvas>
            <script src="/dist/js/chart.js"></script>
            <script>
              var arrayData = document.getElementById("service_invoice").value;
              arrayData = arrayData.split(',');
              var arrayUser = new Array();
              var arrayCount = new Array();
              for (i = 0; i < arrayData.length - 1; i++) {
                arrayUser.push(arrayData[i].substring(1, arrayData[i].indexOf('-')));
                arrayCount.push(arrayData[i].substring(arrayData[i].indexOf('-') + 1, arrayData[i].length));
              }
              var color = "#" + ((1 << 24) * Math.random() | 0).toString(16);
              var ctx = document.getElementById('myChart5').getContext('2d');
              var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                  labels: arrayUser,
                  datasets: [{
                    label: 'Count of invoice',
                    backgroundColor: color,
                    borderColor: color,
                    data: arrayCount
                  }]
                },
                // Configuration options go here
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                      }
                    }]
                  }
                }
              });
            </script>
          </div>
        </div>
        <!-- /.box -->
      </section>
      <!-- /.Left col -->
    </div>
    <!-- ./Prueba -->
  </section>
</div>
<!-- ./CONTAINER -->
{{> footer }}