<canvas class="background" style="position: absolute; display:block; top: 0; left: 0; z-index: 0;"></canvas>
{{> error}}
<form class="login-box" action="/login" method="POST">
    <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif"><img src="/css/iconRestTeam.svg" style="width: 18%; height: 18%;">Login</h1>
    <div class="textbox">
        <i class="fa fa-at" style="color: rgb(163, 50, 238);" aria-hidden="true"></i>
        <input type="email" placeholder="email" name="email">
    </div>
    <div class="textbox">
        <i class="fa fa-lock" style="color: rgb(163, 50, 238);" aria-hidden="true"></i>
        <input type="password" placeholder="password" name="password">
    </div>
    <button type="submit" class="bttn" style="text-align: center;">
        <i class="fa fa-fw fa-unlock" style="color: rgb(163, 50, 238);"></i> Sign In
    </button>
    <a href="/forgot_my_passwd" type="button" class="bttn btn-block" style="text-align: center;">
        <i class="fa fa-fw fa-frown-o" style="color: rgb(163, 50, 238);"></i> I forgot my password
    </a>
    <a href="#" class="btn btn-block btn-social btn-facebook" style="border-radius: 25px;">
        <i class="fa fa-facebook"></i> &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;
        RestTeam Facebook
    </a>
    <a class="btn btn-block btn-social btn-bitbucket" style="border-radius: 25px;" href="https://ruddyquispe@bitbucket.org/ruddyq/restteam_si2.git">
        <i class="fa fa-bitbucket"></i>&ThickSpace;&ThickSpace;&ThickSpace;RestTeam Source Bitbucket
    </a>
</form>
<script>
    window.onload = function () {
        Particles.init({
            selector: '.background',
            // options for breakpoints
            color: '#7609DD',
            maxParticles: 400,
            connectParticles: false,
            responsive: [
                {
                breakpoint: 100,
                options: {
                    maxParticles: 200
                }
                }, {
                breakpoint: 100,
                options: {
                    maxParticles: 200
                }
                }
            ]
        });
    };
</script>