{{> header }}
{{> aside }}
    <!-- CONTAINER -->
    <div class="content-wrapper container_form">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 id="customize">
                Desarroladores
                <small id="customize">RestTeam</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Developer</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="container">
                        <div class="col-lg-6">
                            <p>
                                <b> <i class="fa fa-university"></i> Universidad Autónoma Gabriel René Moreno</b> <br>
                                <b>Este software es desarrollado bajo los terminos de software libre</b> <br>
                                <i class="fa fa-user"><b> Cruz Rodriguez Zuleny </b></i><br>
                                <i class="fa fa-user"> Heredia Claros Stephani </i><br>
                                <i class="fa fa-user"> Cerezo Calderon Margareth </i><br>
                                <i class="fa fa-user"> Quispe Mamani Ruddy Bryan </i><br>
                                <i class="fa fa-user"> Nina Aguilar Cristian Yamil </i><br>
                                <i class="fa fa-sitemap"> Company: RestTeam JS SRL.</i><br>
                                <b>Versions:</b> <br>
                                <i class="fa fa-paperclip"></i> 1.0.0 = Gestión de Usuarios y Roles <br>
                                <i class="fa fa-paperclip"></i> 1.1.0 = Gestión de CLiente Empresa <br>
                                <i class="fa fa-paperclip"></i> 1.2.0 = Gestión de Inventarios de Almacén
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <b>Development Tools:</b><br>
                                <i class="fa fa-database"> Database Engine: PostgreSQL </i><br>
                                <i class="fa fa-code"> Programming Language: Javascript EC5</i><br>
                                <i class="fa fa-html5"> Framework: RestTeamJS - NodeJS</i><br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a class="btn btn-block btn-social btn-bitbucket" href="https://bitbucket.org/dashboard/overview">
                        <i class="fa fa-bitbucket"></i> Go to Repository in Bitbucket
                    </a>
                    <a class="btn btn-block btn-social btn-dropbox" href="https://trello.com/kitaro3002/boards">
                        <i class="fa fa-trello"></i> Go to the Details of the Development in Trello
                    </a>
                    <a class="btn btn-block btn-social btn-success">
                        <i class="fa fa-cloud"></i> Go to the Express Manual (Documentation)
                    </a>
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./CONTAINER -->
{{> footer}}