<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><b>E</b>xpressJS</a>
                    </div>
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="inactive"><a href="/forgot_my_passwd"><i class="fa fa-fw fa-child"></i>I forgot my Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
            <div class="container">
                <section class="content-header">
                    <h1>
                        User Restore
                        <small>RestTeamJS</small>
                    </h1>
                </section>
                {{>messages}}
                {{>error}}
                <section class="content">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">! Write your new Password</h3>
                        </div>
                        <form class="box-body" action="/restore_new_password" method="post">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <p>Please write your new <b>password</b>, and don't forget it again</p>
                                    <label>Email</label>
                                    <input type="email" class="form-control"
                                        name="email" required>
                                    <br>
                                    <label>Input your new Password</label>
                                    <input type="password" class="form-control"
                                        name="password" required>
                                    <br>
                                    <label>Retype your new Password</label>
                                    <input type="password" class="form-control"
                                        name="password_retype" required>
                                    <br>
                                    <button type="submit" class="btn btn-block btn-success" style="border-radius: 15px;"
                                        title="Confirm new Password"> Confirm new Password 
                                        <i class="fa fa-key"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>