{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Roles</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Rol
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/user_management/role_manage" method="POST">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Administrador"
                                            name="role_name" min="10" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control"
                                            placeholder="Administrar todo el area de almacen" name="role_description"
                                            required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-4" style="border-radius: 15px;">
                                        <i class="fa fa-suitcase"></i> Registrar
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Permisos</h3>
                                        </div>
                                        <div class="panel-body">
                                            {{#each privilegeList}}
                                            <div class="col-md-6" style="height: 150px; border: 1px solid black">
                                                <ul class="autoCheckbox" id="myUl">
                                                    <li>
                                                        <input type="checkbox" class="" name="permission[]"
                                                            value="{{id_privilege}}">&ThinSpace;&ThickSpace;{{description_privilege}}

                                                        {{#each list_sub_pr}}
                                                        <ul>
                                                            <li>
                                                                <input type="checkbox" class="" name="permission[]"
                                                                    value="{{id_privilege}}">&ThinSpace;&ThickSpace;{{description_privilege}}
                                                                {{#each list_sub_pr}}
                                                                <ul>
                                                                    <li>
                                                                        <input type="checkbox" class=""
                                                                            name="permission[]"
                                                                            value="{{id_privilege}}">&ThinSpace;&ThickSpace;{{description_privilege}}
                                                                        {{#each list_sub_pr}}
                                                                        <ul>
                                                                            <li>
                                                                                <input type="checkbox" class=""
                                                                                    name="permission[]"
                                                                                    value="{{id_privilege}}">&ThinSpace;&ThickSpace;{{description_privilege}}
                                                                                {{#each list_sub_pr}}
                                                                                <ul>
                                                                                    <li><input type="checkbox" class=""
                                                                                            name="permission[]"
                                                                                            value="{{id_privilege}}">&ThinSpace;&ThickSpace;{{description_privilege}}
                                                                                    </li>
                                                                                </ul>
                                                                                {{/each}}

                                                                            </li>

                                                                        </ul>
                                                                        {{/each}}
                                                                    </li>

                                                                </ul>
                                                                {{/each}}

                                                            </li>

                                                        </ul>
                                                        {{/each}}

                                                    </li>

                                                </ul>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Roles</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search role details">
                            <table class="table table-hover" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">#</th>
                                        <th style="text-align: center;">Nombre</th>
                                        <th style="text-align: center;">Descripción</th>
                                        <th style="text-align: center;">Estado</th>
                                        <th style="text-align: center;">Nivel de Permiso</th>
                                        <th style="text-align: center;">Usuarios asignados</th>
                                        <th style="text-align: center;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each roles}}
                                    <tr>
                                        <td>{{id_role}}</td>
                                        <td><b>{{role_name}}</b></td>
                                        <td>{{description}}</td>
                                        {{#if enable}}
                                        <td>
                                            <form action="/user_management/role_permit/{{id_role}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <button type="submit" class="btn btn-action bg-green btn-sm btn-xs"
                                                    title="disable role">
                                                    <span class="badge bg-green">habilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <span class="description-percentage text-green">{{porcentualPermit}}%</span>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar progress-bar-success"
                                                    style="width: {{porcentualPermit}}%" role="progressbar"></div>
                                            </div>
                                        </td>
                                        {{else}}
                                        <td>
                                            <form action="/user_management/role_permit/{{id_role}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <button type="submit" class="btn btn-action bg-red btn-sm btn-xs"
                                                    title="enable role">
                                                    <span class="badge bg-red">deshabilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <span class="description-percentage text-red"></i>
                                                {{porcentualPermit}}%</span>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar progress-bar-danger"
                                                    style="width: {{porcentualPermit}}%"></div>
                                            </div>
                                        </td>
                                        {{/if}}
                                        <td style="text-align: center;"><span
                                                class="badge bg-light-blue-gradient">{{get_count_user_in_role}}</span>
                                        </td>
                                        <td>
                                            <a type="submit" class="btn btn-warning  btn-sm btn-xs"
                                                href="/user_management/role_update/{{id_role}}" title="Edit Role">
                                                <i class="fa fa-fw fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}