{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a id="customize" href="/user_management/role_manage"><i class="fa fa-arrow-left"></i>Back</a></li>
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Roles</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Modificar Rol
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/user_management/role_update/role_update_data/{{roleDetails.id_role}}?_method=PUT"
                            method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" value="{{roleDetails.role_name}}"
                                            name="role_name" min="10" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control" name="role_description"
                                            value="{{roleDetails.description}}" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-4" style="border-radius: 15px;">
                                        <i class="fa fa-suitcase"></i> Modificar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Privilegios</a>
                        </h4>
                    </div>
                    <form
                        action="/user_management/role_update/role_assign_privileges/{{roleDetails.id_role}}?_method=PUT"
                        method="POST" class="col-lg-7" style="background-color: #D4EFDF;">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="box-body">
                            <label for="title"> Permisos </label>
                            {{#if notPrivileges}}
                            <button type="submit" class="btn btn-action btn-sm btn-primary disabled btn-xs">
                                <i class="fa fa-check"></i>Asignar Privilegio
                            </button>
                            <br>
                            {{else}}
                            <button type="submit" class="btn btn-action btn-sm btn-primary btn-xs">
                                <i class="fa fa-check"></i>Asignar Privilegio
                            </button>
                            <br>
                            {{/if}}
                            <div class="box-body table-responsive">
                                <table class="table table-hover" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th>Privilegio</th>
                                            <th>Super Privilegio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each listPrivilegesMissing}}
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="permission[]" value="{{id_privilege}}">
                                                </span>&ThinSpace;&ThickSpace;{{description_privilege}}
                                            </td>
                                            <td>
                                                {{#if get_description_super_privilege}}
                                                <span class="badge bg-green-gradient">{{get_description_super_privilege}}</span>
                                                {{else}}
                                                <span class="badge bg-blue-gradient">Privilegio Padre</i></span>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" name="user" value="{{ user.username }}">
                        </div>
                    </form>
                    <div class="box-body table-responsive no-padding col-lg-5">
                        <form
                            action="/user_management/role_update/role_remove_privilege/{{roleDetails.id_role}}?_method=PUT"
                            method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <table class="table table-hover" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            #
                                            <button type="submit" class="btn btn-action btn-sm btn-xs btn-danger"
                                                title="remove privilege">
                                                Remover Privilegios
                                            </button>
                                        </th>
                                        <th style="text-align: center;">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each listPrivileges}}
                                    <tr>
                                        <td>{{id_privilege}} <input type="checkbox" name="id_privilege[]"
                                                value="{{id_privilege}}"> </td>
                                        <td>{{description_privilege}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}