{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Cliente Empresa Comercializadora
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Representante de Empresa Comercializadora</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Representante de Empresa
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/company_management/representative_manage" method="POST">
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="col-md-2">
                                        <label>CI</label>
                                        <input type="number" class="form-control" placeholder="8747144"
                                            name="ci" min="1" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Nombre Completo</label>
                                        <input type="text" class="form-control" placeholder="Juanita Perez"
                                            name="name" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label>CI Expedido</label>
                                        <select class="form-control" name="issued_place">
                                            <option value="CH">CH</option>
                                            <option value="LP">LP</option>
                                            <option value="CB">CB</option>
                                            <option value="OR">OR</option>
                                            <option value="PT">PT</option>
                                            <option value="TJ">TJ</option>
                                            <option value="SC">SC</option>
                                            <option value="BE">BE</option>
                                            <option value="PD">PD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Teléfono</label>
                                        <input type="number" class="form-control" placeholder="74757894"
                                            name="phone" min="1" required>
                                    </div> 
                                </div>
                                <div class="box-body"></div>
                                    <div class="col-md-4">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control" placeholder="Calle siempre viva 123"
                                            name="address"  required>
                                    </div> 
                                    <div class="col-md-3">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="juanita123@gmail.com"
                                            name="email" required>
                                    </div> 
                                    <br>
                                    <div class="col-md-2"></div>
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Registrar Representante
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Representantes de Empresa</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody id="myTable">
                                    <tr>
                                        <th>CI</th>
                                        <th>Nombre</th>
                                        <th>Dirección</th>
                                        <th>Email</th>
                                        <th>Teléfono</th>
                                        <th></th>
                                    </tr>
                                    {{#each listRepresentative}}
                                    <tr>
                                        <td>{{ci}} <b>[{{issued_place}}]</b></td>
                                        <td>{{name_representative}}</td>
                                        <td>{{address}}</td>
                                        <td>{{email}}</td>
                                        <td>{{phone}}</td>
                                        <td>
                                            <a href="/company_management/representative_update/{{ci}}" class="btn btn-link" title="Update">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}