{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Servicio de Soporte Tecnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a id="customize" onclick="history.back();"><i class="fa fa-arrow-left"></i>Back</a></li>
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Factura para Soporte Tecnico N°. {{support_no}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- Register Service -->
                <div class="box box-primary" id="accordion">
                        <form
                            action="/support_service_management/register_invoice/{{support_no}}?_method=PUT"
                            method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <label for="nit" class="box-title">Nit</label>
                                    <input type="text" class="form-control" placeholder="87234560007123" name="nit" required>
                                </div>
                                
                                <div class="box-group">
                                    <label for="corporate" class="box-title">Razon Social</label>
                                    <input type="text" class="form-control" name="corporate" placeholder="Manuel Lazcano" required>
                                </div>

                                <div class="box-group">
                                    <label for="quantity_day_support" class="box-title">Cantidad de Dias de Soporte</label>
                                    <input type="number" class="form-control" name="quantity_day_support" min="1" placeholder="1" required>
                                </div>

                                <div class="box-group">
                                    <label for="cost" class="box-title">Total</label>
                                    <input type="number" class="form-control" name="cost" min="1" step="0.1" value="{{totalCost}}" disabled>
                                    <input type="hidden" name="total_cost" value="{{totalCost}}"/>
                                </div>
                                <button type="submit" class="btn btn-success col-md-4" id="button_m">
                                        <i class="fa fa-check"></i> Register invoice
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
        </section>
                <!-- ./ Register invoice-->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}
