{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Servicio de Soporte Tecnico
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Facturas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- ./Invoice Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Todas las Facturas</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">N°</th>
                                        <th class="col-md-2">Nit</th>
                                        <th class="col-md-1">Razon Social</th>
                                        <th class="col-md-1">Total</th>
                                        <th class="col-md-1">Fecha</th>
                                        <th class="col-md-1">Cantidad Dias Soporte</th>
                                        <th class="col-md-1">N° Soporte</th>
                                        <th class="col-md-1">¿Anulado?</th>
                                        <th class="col-md-1">Factura</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each getListInvoice }}
                                    <tr>
                                        <td >{{bill_no}}</td>
                                        <td >{{nit}}</td>
                                        <td >{{corporate}}</td>
                                        <td ><span class="badge bg-green">{{total_cost}}</span></td>
                                        <td >{{service_date}}</td>
                                        <td >{{quantity_day_support}}</td>
                                        <td >{{support_no}}</td>
                                        {{#if enable_i}}
                                        <td>
                                            <form action="/support_service_management/service_invoice/disable_invoice/{{bill_no}}?_method=PUT" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <input type="hidden" name="action" value="disable">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Disable Company">
                                                    <span class="badge bg-green">enable</span>
                                                </button>
                                            </form>
                                        </td>
                                        {{else}}
                                        <td>
                                            <form action="/support_service_management/service_invoice/disable_invoice/{{bill_no}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <input type="hidden" name="action" value="enable">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Enable Company">
                                                    <span class="badge bg-red">disable</span>
                                                </button>
                                            </form>
                                        </td>
                                        {{/if}}
                                        <td>
                                            <a href="/support_service_management/service_invoice/wacht_invoice/{{bill_no}}"><i class="fa fa-file-pdf-o"></i></a>

                                        </td>
                                        
                                        </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!---   Invoices reports    ---->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Reportes de Facturas Por Empresa</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">Nit</th>
                                        <th class="col-md-1">Razon Social</th>
                                        <th class="col-md-1">Cant. Facturas</th>
                                        <th class="col-md-2">Total</th>
                                        <th class="col-md-2">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each getListReports }}
                                    <tr>
                                        <td >{{nit}}</td>
                                        <td >{{name_company}}</td>
                                        <td >{{invoice_count}}</td>
                                        <td >{{total_sum}}</td>
                                        <td>
                                            <form
                                                action="/support_service_management/service_invoice/service_invoice_generate_pdf/{{nit}}"
                                                method="post">
                                                <button type="submit" class="btn btn-link btn-action" title="Generate PDF">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body table-->
                    </div>
                </div>
                <!---   box-nody Report service   --->

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}
