<!-- ASIDE Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <a href="/user_management/user_profile_manage/{{user.id_user}}">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{user.user_profile}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ user.username }}</p>
        <i class="fa fa-circle" style="color: rgb(127, 224, 83);"></i><small style="color: rgb(127, 224, 83);"> Online</small>
      </div>
    </div>
    </a>
    <!-- search form
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVEGACIÓN PRINCIPAL</li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-users"></i> <span><small>Gestion de Usuarios y Roles</small></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/user_management/user_manage"><i class="fa fa-user-o"></i>Gestionar Usuario</a></li>
          <li><a href="/user_management/role_manage"><i class="fa fa-suitcase"></i>Gestionar Rol</a></li>
          <li><a href="/user_management/privilege_manage"><i class="fa fa-lock"></i>Gestionar Privilegio</a></li>
          <li><a href="/user_management/bitacora_manage"><i class="fa fa-book"></i>Administrar Bitácora</a></li>
          <li><a href="/user_management/report_invoice_user"><i class="fa fa-bar-chart"></i><small>Reporte de Facturas de Usuario</small></a></li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-briefcase"></i> <span><small>Gestión de Cliente Empresa</small></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/company_management/company_manage"><i class="fa fa-suitcase"></i>Gestionar Empresa</a></li>
          <li><a href="/company_management/representative_manage/"><i class="fa fa-user-circle-o"></i>Gestionar Representante</a></li>
          <li><a href="/company_management/contract_list/"><i class="fa fa-folder-open-o"></i>Lista de Contratos</a></li>
          <li><a href="/company_management/report_company_invoice"><i class="fa fa-folder-open-o"></i>Reporte de Servicios</a></li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-truck"></i> <span><small>Administración de Inventario</small></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/warehouse_management/workshop_manage"><i class="fa fa-cogs"></i>Gestionar Taller</a></li>
          <li><a href="/warehouse_management/exit_note_manage"><i class="fa fa-file-text-o"></i>Gestionar Nota de Salida</a></li>
          <li><a href="/warehouse_management/entry_note_manage"><i class="fa fa-file-o"></i>Gestionar Nota de Ingreso</a></li>
          <li><a href="/warehouse_management/devolution_note_manage"><i class="fa fa-file-text"></i><small>Gestionar Nota de Devolución</small></a></li>
          <li><a href="/warehouse_management/replacement_category_manage"><i class="fa fa-tags"></i><small>Gestionar Categoria de Repuesto</small></a></li>
          <li><a href="/warehouse_management/replacement_manage"><i class="fa fa-gears"></i>Gestionar Repuesto</a></li>
          <li><a href="/warehouse_management/provider_manage"><i class="fa fa-address-book-o"></i>Gestionar Proveedor</a></li>
          <li><a href="/warehouse_management/replacement_report_tendency"><i class="fa fa-gear"></i>Reporte de Repuestos</a></li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-gears"></i> <span><small>Gestión de Soporte Técnico</small></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/support_service_management/support_service_manage"><i class="fa fa-cogs"></i>Gestionar Soporte Tecnico</a></li>
          <li><a href="/support_service_manage/service_manage"><i class="fa fa-handshake-o" aria-hidden="true"></i>Gestionar Servicio</a></li>
          <li><a href="/support_service_management/service_invoice"><i class="fa fa-file-o"></i>Lista de Facturas</a></li>
          <li><a href="/support_service_management/specialty_manage"><i class="fa fa-spinner"></i>Gestionar Especialidad</a></li>
          <li><a href="/support_service_management/technical_manage"><i class="fa fa-address-book"></i>Gestionar Personal Técnico</a></li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-user-circle-o"></i> <span><small>Gestión de Cliente Propietario</small></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/owner_management/product_manage"><i class="fa fa-cubes"></i>Gestionar Producto</a></li> 
          <li><a href="/owner_management/owner_manage"><i class="fa fa-users"></i><small>Administrar Cliente Propietario</small></a></li>
          <li><a href="/owner_management/product_category"><i class="fa fa-dropbox"></i><small>Gestionar Categoria Producto</small></a></li>
          <li><a href="/owner_management/guarantee_policy_manage"><i class="fa fa-list-alt"></i><small>Administrar Poliza de Garantía</small></a></li>
          <li><a href="/owner_management/request_support_service_manage"><i class="fa fa-table"></i><small>Administrar Solicitud de Servicio</small> </a></li>
          <li><a href="/owner_management/type_support_service"><i class="fa fa-spinner"></i><small>Gestionar Tipo de Servicio</small></a></li>
        </ul>
      </li>
      <li class="menu-open">
        <a href="/more_info">
          <i class="fa fa-code"></i>
          <span>Developers</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<!-- ./ASIDE Content Wrapper. Contains page content -->
