{{#if error_msg }}
    <div class="box-group" style="margin-top: 5%; padding-left: 15%; padding-right: 15%;">
        <div class="callout callout-danger">
        {{error_msg}}
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    </div>
{{/if}}
{{#if error }}
    <div class="box-group" style="margin-top: 5%; padding-left: 15%; padding-right: 15%;">
        <div class="callout callout-danger">
        {{error}}
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    </div>
{{/if}}
{{#if error_msgs }}
    <div class="box-group">
        <div class="callout callout-danger">
        {{error_msgs}}
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    </div>
{{/if}}
{{#each errors }}
    <div class="callout callout-danger" style="margin-bottom: auto;">
        {{text}}
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <br>
{{/each}}
{{#if success }}
    <div class="box-group" style="margin-top: 5%; padding-left: 15%; padding-right: 15%;">
        <div class="callout callout-success">
        {{success}}
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    </div>
{{/if}}