<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- HEADER -->
  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="/css/iconRestTeam.svg" style="width: 60%; height: 60%;"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="/css/iconRestTeam.svg" style="width: 18%; height: 18%;"><b> Rest</b>Team</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          {{#if littleListBackLog}}
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-home"></i>
              <span class="label label-success"><i class="fa fa-gears"></i></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header" style="text-align: center;"><b>Ultimas Actividades RestTeam</b></li>
              <li>
                <ul class="menu">
                  {{#each littleListBackLog}}
                  <li>
                    &ThickSpace;<i class="fa fa-user text-light-blue "></i>&ThickSpace;{{activity}}
                  </li>
                  {{/each}}
                </ul>
              </li>
              <!-- link Bitacora -->
              <li class="footer"><a href="/user_management/bitacora_manage"><i class="fa fa-book"> Ver todo</i></a></li>
              <!-- ./link Bitacora -->
            </ul>
          </li>
          {{/if}}
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{user.user_profile}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <p>
                  <img src="{{ user.user_profile }}" id="user_image">
                  <br>
                  <a href="/user_management/user_profile_manage/{{user.id_user}}" > 
                    <font color="White">{{ user.username }}</font>
                  </a>
                  <small style="color: rgb(47, 255, 75);">{{user.role_name}}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <a type="button" href="/logout/{{user.username}}" class="btn btn-danger btn-block" style="color: blanchedalmond;">
                  Sign Out
                </a>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ./HEADER -->