{{#if success_msg }}
<div class="callout callout-success" style="margin-bottom: auto;">
    {{ success_msg }}
    <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
<br>
{{/if}}