{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Tipo de Servicio de Soporte: {{id}}</h3>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Modificar Tipo de Servicio de Soporte Técnico</a>
                        </h4>
                    </div>

                    <div class="box-body">
                        <form action="/owner_management/type_support_service/update/{{id}}?_method=PUT" method="POST">
                            <input type="hidden" value="PUT" name="_method">
                            <div class="col-lg-12">
                                <label>Descripción</label>
                                <input type="text" class="form-control" name="description" value="{{description}}"
                                    required>
                            </div>       
                            <div class="box-group">
                                <button type="submit" class="btn btn-success col-md-2" id="button_m">
                                    <i class="fa fa-check"></i> Guardar Cambios
                                </button>
                                <a href="/owner_management/type_support_service" class="btn btn-link bg-red col-md-2"
                                    id="button_m">Cancelar Cambios</a>

                            </div>

                        </form>

                    </div>
                </div>
                <!-- ./Entry Register -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}