{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Tipo de Servicio de Soporte Técnico</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Register Tipo de Servicio de Soporte Técnico
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body">
                            <form action="/owner_management/type_support_service" method="POST">
                                <div class="col-lg-12">
                                    <div class="box-group">
                                        <div class="col-md-8">
                                            <label>Descripción</label>
                                            <input type="text" class="form-control" name="description"
                                                value="{{description}}" required>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-3" id="button_m">
                                            <i class="fa fa-save"></i> Registrar Tipo de Servicio
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- ./Entry Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Tipos de Servicio de Soporte Técnico</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">#</th>
                                        <th class="col-md-6">Tipo Servicio</th>
                                        <th class="col-md-2">Cantidad Solicitantes</th>
                                        <th class="col-md-2">Estado</th>
                                        <th class="col-md-1">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {{#each listTypeSupport }}
                                    <tr>
                                        <td>{{id_type}}</td>
                                        <td>{{description_type}}</td>
                                        <td style="text-align: center;">{{quantity_type_support}}</td>
                                        {{#if enable}}
                                        <td>
                                            <form
                                                action="/owner_management/type_support_service/enable_disable/{{id_type}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" value="PUT" name="_method">
                                                <input type="hidden" value="disable" name="status">
                                                <button type="submit" class="btn btn-action btn-success btn-sm btn-xs"
                                                    title="Disable Type Support Service">
                                                    <span class="badge bg-green">Habilitar</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="/owner_management/type_support_service/update/{{id_type}}"
                                                class="btn btn-link" title="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        {{else}}
                                        <td>
                                            <form
                                                action="/owner_management/type_support_service/enable_disable/{{id_type}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" value="PUT" name="_method">
                                                <input type="hidden" value="enable" name="status">
                                                <button type="submit" class="btn btn-action btn-danger btn-sm btn-xs"
                                                    title="Enable Type Support">
                                                    <span class="badge bg-red">Inhabilitar</span>
                                                </button>
                                            </form>

                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-link" title="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}