{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Actualizar Taller: {{cod_workshop}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- form Update -->
                <div class="box-group">
                    <form class="form" action="/warehouse_management/workshop_manage/update_workshop/{{cod_workshop}}?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="col-lg-12">
                            <div class="box-group">
                                <div class="col-md-4">
                                    <label>Nombre del Taller</label>
                                    <input type="text" class="form-control" value="{{workshopRow.name}}" name="name" required>
                                </div>
                                <div class="col-md-4">
                                    <label>Latitud</label>
                                    <input type="text" class="form-control" value="{{workshopRow.latitude}}" name="latitude" required>
                                </div>
                                <div class="col-md-4">
                                    <label>Longitud</label>
                                    <input type="text" class="form-control" value="{{workshopRow.longitude}}" name="longitude" required>
                                </div>
                            </div>
                            <div class="box-group">
                                <div class="col-md-4">
                                    <label for="title">Direccion</label>
                                    <input type="text" class="form-control" value="{{workshopRow.address}}" name="address" required>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success col-md-2" id="button_m">
                                    <i class="fa fa-refresh"></i> Actualizar
                                </button>
                                <a href="/warehouse_management/workshop_manage" type="button"
                                    class="btn btn-danger col-md-2 pull-right" id="button_m">
                                    <i class="fa fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}