{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Administración de Inventarios 
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{> error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Taller</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Taller
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/warehouse_management/workshop_manage" method="POST">
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Naombre del taller"
                                            name="name" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Dirección de satélite de Latitude</label>
                                        <input type="text" class="form-control" placeholder="Ejemplo: -XX.XXXXXX"
                                            name="latitude" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Dirección de satélite de longitud</label>
                                        <input type="text" class="form-control" placeholder="Ejemplo: -XX.XXXXXX"
                                            name="longitude" required>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-8">
                                    <label>Direccion</label>
                                    <input type="text" class="form-control" placeholder="Address of Workshop"
                                        name="address" required>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                    <i class="glyphicon glyphicon-ok-sign"></i> Registrar Taller
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Taller</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody id="myTable">
                                     <tr>
                                        <th>Codigo</th>
                                        <th>Nombre del Taller</th>
                                        <th>Dirreccion</th>
                                        <th>Actualizar</th>                                                                             
                                        <th>Repuesto</th>
                                        <th>Stock Minimo</th>
                                    </tr>
                                    {{#each getListWorkshop}}
                                    <tr>
                                        <td>{{cod_workshop}}</td>
                                        <td>{{name}}</td>
                                        <td>{{address}}</td>                                         
                                        <td>
                                            <a href="/warehouse_management/workshop_manage/update_workshop/{{cod_workshop}}" class="btn btn-link" title="Update"><i class="fa fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a href="/warehouse_management/workshop_manage/warehouse_inventory/{{cod_workshop}}" class="btn btn-link" title="Add Replacement"><i class="fa fa-plus-square"></i></a>
                                        </td>
                                        <td>
                                            <a href="/warehouse_management/workshop_manage/stock_minimal/{{cod_workshop}}" class="btn btn-link" title="Reporte de Stock Mínimo"><i class="fa fa-shopping-bag"></i></a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div><br>
                        <input type="hidden" id="list_lat_long" value="{{#each getListWorkshop}}{{latitude}}&{{longitude}}&{{name}}#{{/each}}">
                        <div id="mapid" style="height: 500px;"></div>
                        <!-- /.box-body -->
                    </div>               
                </div> 
                <!-- ./Workshop List -->
            </div>
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
        <!-- /.box-footer-->
        </div>
        <!-- /.box-body -->
    </section>
<!-- /.content -->
</div>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script>
    var arrayData = document.getElementById("list_lat_long").value;
    arrayData = arrayData.split('#');
    var mymap = L.map('mapid').setView([-17.783235, -63.181446], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);
    for(var index=0; index < arrayData.length-1;index++){
        var arrayWorkShop = arrayData[index].split('&');
        L.marker([arrayWorkShop[0], arrayWorkShop[1]]).addTo(mymap).bindPopup("Workshop Name: "+arrayWorkShop[2]).openPopup();
    }
</script>
<!-- ./CONTAINER -->
{{> footer}}