{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-lg-12">
                    <div class="box-group">
                        <div class="col-md-3">
                            <form action="/user_management/bitacora_user_manage/print/{{username}}" method="post">
                                <button type="submit" class="btn btn-action btn-info btn-sm"><i class="fa fa-file-pdf-o"></i> <b>Generate Bitacora.pdf</b></button>
                            </form>
                        </div>                        
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-lg-12">
                        <p><i class="fa fa-arrow-circle-o-up"></i> <b>Press the button to generate the file Bitacora.pdf</b></p>
                    </div>
                </div>
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <input class="form-control mb-4" id="tableSearch" type="text"
                            placeholder="Type something to search list items">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-3">User</th>
                                    <th class="col-md-3">Date</th>
                                    <th class="col-md-5">Activity</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                {{#each bitacoraData}}
                                <tr>
                                    <td>{{user}}</td>
                                    <td>{{date}}</td>
                                    <td>{{activity}}</td>
                                </tr>
                                {{else}}
                                <tr>
                                    Does not Activities
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- /.box-body -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}