{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{> error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Reportes de Facturas de Usuarios</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form
                    action="/user_management/report_invoice_user"
                    method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit" class="btn btn-action btn-xs btn-success"> <i class="fa fa-file-pdf-o"></i>
                    Generar pdf
                    </button>
                    <b> <i class="fa fa-arrow-left"></i> Presiona el botón para generar el reporte</b>
                </form>
                <input type="hidden" id="service_invoice" value="{{#each reportUser}} {{username}}-{{count}}, {{/each}}">
                <canvas id="myChart5"></canvas>
                <script src="/dist/js/chart.js"></script>
                <script>
                    var arrayData = document.getElementById("service_invoice").value;
                    arrayData = arrayData.split(',');
                    var arrayUser = new Array();
                    var arrayCount = new Array();
                    for(i=0; i<arrayData.length-1; i++){
                        arrayUser.push(arrayData[i].substring(1, arrayData[i].indexOf('-')));
                        arrayCount.push(arrayData[i].substring(arrayData[i].indexOf('-')+1,arrayData[i].length));
                    }
                    var color = "#"+((1<<24)*Math.random()|0).toString(16);
                    var ctx = document.getElementById('myChart5').getContext('2d');
                    var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'bar',

                    // The data for our dataset
                    data: {
                        labels: arrayUser,
                        datasets: [{
                        label: 'Cantidad de Facturas',
                        backgroundColor: color,
                        borderColor: color,
                        data: arrayCount
                        }]
                    },
                    // Configuration options go here
                    options: {
                        scales: {
                        yAxes: [{
                            ticks: {
                            beginAtZero: true
                            }
                        }]
                        }
                    }
                    });
                </script>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}
