{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{> error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Usuarios</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Usuario
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body">
                            <form action="/user_management/user_manage" method="POST" enctype="multipart/form-data">
                                <div class="col-lg-6">
                                    <div class="box-group">
                                        <label for="title" class="box-title">Username</label>
                                        <input type="text" class="form-control" placeholder="Alexander Pierce"
                                            name="username" required>
                                    </div>
                                    <div class="box-group">
                                        <label for="title" class="box-title">Email</label>
                                        <input type="text" class="form-control" placeholder="alex@mailserver.com"
                                            name="email" required>
                                    </div>
                                    <div class="box-group">
                                        <label for="title" class="box-title">Password</label>
                                        <input type="password" class="form-control" name="password" minlength="6"
                                            required>
                                    </div>
                                    <div class="box-group">
                                        <label for="title" class="box-title">Retype Password</label>
                                        <input type="password" class="form-control" name="password_retype" minlength="6"
                                            required>
                                    </div>
                                    <div class="box-group">
                                        <br>
                                        <button type="submit" class="form-control btn btn-success btn-action"
                                            style="border-radius: 15px;">
                                            <i class="fa fa-save"></i> Registrar Usuario
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="box-group">
                                        <label>Asignar Rol:</label>
                                        <select class="form-control" name="role">
                                            {{#each rolesList}}
                                            <option value={{id_role}}>{{role_name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Foto Perfil de Usuario</label>
                                        <br>
                                        <input accept=".jpg, .png, .bmp, .jpeg" type="file" id="user_profile"
                                            class="bg-green-gradient" name="image" required />
                                        <img src="" id="user_img_profile" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ./User Register -->
                <!-- User List -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Usuarios Habilitados</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- card profile -->
                        <div class="row">
                            {{#each users}}
                            <div class="col-md-4">
                                <!-- Widget: user widget style 1 -->
                                <div class="card card-widget widget-user" id="card_profile">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <input type="hidden" id="idUser" name="idUser" value="{{id_user}}">
                                    <div class="widget-user-image">
                                        <img class="" src="{{user_profile}}" id="user_image">
                                    </div>
                                    <div class="widget-user-header" id="profile_background">
                                        <div class="box-group">
                                            <a class="btn-link btn btn-lg" href="/user_management/update/{{id_user}}"
                                                title="Editar">
                                                <i class="ion-edit"></i>
                                            </a>
                                        </div>
                                        <div class="box-group">
                                            <a class="btn-link btn btn-lg"
                                                href="/user_management/user_profile_manage/{{id_user}}" title="Perfil">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="user-body">
                                        <div class="text-center">
                                            <a href="#">
                                                <h4 class="text-bold">{{username}}</h4>
                                            </a>
                                            <h6 class="text-green text-bold" value="{{id_role}}">{{role_name}}</h6>
                                        </div>
                                    </div>
                                    <form action="/user_management/user_disable_enable/{{id_user}}?_method=PUT"
                                        method="POST">
                                        <input type="hidden" name="_method" value="PUT">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-danger btn-sm" title="Bloquear">
                                                <i class="ion-locked"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- /.box-header -->
                </div>
                <!-- ./User List -->
                <!-- list of disabled users -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsedDisabledUsers"
                                aria-expanded="false" class="collapsed">
                                Usuarios Inhabilitados
                            </a>
                        </h4>
                    </div>
                    <div id="collapsedDisabledUsers" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body">
                            <!-- card profile -->
                            <div class="row">
                                {{#each enabledUsers}}
                                <div class="col-md-4">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="card card-widget widget-user" id="card_profile">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header" id="profile_background">
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="" src="{{user_profile}}" id="user_image">
                                        </div>

                                        <div class="user-body">
                                            <div class="text-center">
                                                <a href="#">
                                                    <h4 class="text-bold">{{username}}</h4>
                                                </a>
                                                <h6 class="text-green text-bold" value="{{id_role}}">{{role_name}}</h6>
                                            </div>
                                        </div>
                                        <form action="/user_management/user_disable_enable/{{id_user}}?_method=PUT"
                                            method="POST">
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-success btn-sm" title="Habilitar">
                                                    <i class="ion-unlocked"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./list of disabled users -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}