{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary" style="">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="{{userData.user_profile }}"
                            alt="User profile picture">
                        <font color="Navy"> <h3 class="profile-username text-center">{{userData.username}}</h3></font>
                        <p class="text-muted text-center"><font color="Gray">{{userData.role_name}}</font> </p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Rol</b> <a class="pull-right">{{userData.role_name}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <a class="pull-right"><font size=2>{{userData.email}}</font></a>
                            </li>
                            {{#if userData.enable}}
                                <li class="list-group-item">
                                    <b>Estado de Cuenta: </b> <a class="pull-right">Habilitado</a>
                                </li>
                            {{else}} 
                                <li class="list-group-item">
                                    <b>Estado de Cuenta: </b> <a class="pull-right">Deshabilitado</a>
                                </li>
                            {{/if}}
                            
                        </ul>
                        <a href="/user_management/update/{{userData.id_user}}" class="btn btn-warning btn-block"><b>Modificar Usuario</b> <i class="fa fa-edit"></i></a>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab">Actividades</a></li>
                        <li><a href="#timeline" data-toggle="tab">Trabajo</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <!-- Post -->
                            <div class="post"> 
                                    <td>
                                        <form action="/user_management/bitacora_user_manage/print/{{userData.username}}" method="POST">
                                            <button type="submit" class="btn btn-action btn-info btn-sm"><i class="fa fa-file-pdf-o"></i> <b>Generar Activity.pdf</b></button>
                                        </form>
                                    </td>
                                
                                <br>
                                <table class="table table-hover">
                                    <thead id="myTable">
                                        <tr>
                                            <th class="col-md-3">Usuario</th>
                                            <th class="col-md-3">Fecha</th>
                                            <th class="col-md-5">Actividad</th>
                                        </tr>
                                    </thead>
                                        <tbody id="myTable">
                                            {{#each listBitacora}}
                                            <tr>
                                                <td>{{user}}</td>
                                                <td>{{date}}</td>
                                                <td>{{activity}}</td>
                                            </tr>
                                            {{else}}
                                            <tr>
                                                No hay Actividades
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                </table>
                            </div>
                            <!-- /.post -->
                        </div>
                        <div class="timeline tab-pane" id="timeline">
                            <ul class="box-header ui-sortable-handle" style="cursor: move;">
                                <section class="col-lg-8">
                                    <div class="box-body border-radius-none">
                                        <div class="chart" id="line-chart" style="height: 250px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                            <input type="hidden" id="invoice" value="{{#each reportUser}} {{service_date}}-{{count}}, {{/each}}">
                                            <canvas id="myChart7"></canvas>
                                            <script src="/dist/js/chart.js"></script>
                                            <script>
                                                var arrayData = document.getElementById("invoice").value;
                                                arrayData = arrayData.split(',');
                                                var arrayUser = new Array();
                                                var arrayCount = new Array();
                                                for(i=0; i<arrayData.length-1; i++){
                                                    arrayUser.push(arrayData[i].substring(1, arrayData[i].indexOf('-')));
                                                    arrayCount.push(arrayData[i].substring(arrayData[i].indexOf('-')+1,arrayData[i].length));
                                                }
                                                var color = "#"+((1<<24)*Math.random()|0).toString(16);
                                                var ctx = document.getElementById('myChart7').getContext('2d');
                                                var chart = new Chart(ctx, {
                                                // The type of chart we want to create
                                                type: 'line',
                                                // The data for our dataset
                                                data: {
                                                    labels: arrayUser,
                                                    datasets: [{
                                                    label: 'Cantidad de Facturas',
                                                    backgroundColor: color,
                                                    borderColor: color,
                                                    data: arrayCount
                                                    }]
                                                },
                                                // Configuration options go here
                                                options: {
                                                    scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                        beginAtZero: true
                                                        }
                                                    }]
                                                    }
                                                }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </section>
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.tab-content -->
                </div>
                
                <!-- /.nav-tabs-custom -->
            </div>
            
        </div>
        <div class="box-footer">
            <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Facebook Page's RestTeam
            </a>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}