{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{> error}}
        <!-- box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Modificar Usuario <span class="badge bg-green">{{username}}</span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- form Update -->
                <div class="box-group">
                    <form class="form" action="/user_management/user_update/{{idUser}}?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="widget-user-image">
                            <img class="" src="{{profile}}" id="user_image">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="box-group">
                                    <label for="title">Username</label>
                                    <input type="text" class="form-control" value="{{username}}" name="username"
                                        required>
                                </div>
                                <div class="box-group">
                                    <label for="title">Email</label>
                                    <input type="email" class="form-control" value="{{email}}" name="email" required>
                                </div>
                                <div class="box-group">
                                    <input type="hidden" value={{roleName}} id="option">
                                    <label>Asignado de Rol</label>
                                    <select class="form-control" name="role" value="{{roleName}}" id="select">
                                        {{#each rolesList}}
                                        <option value={{id_role}}>{{role_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Perfil de Usuario</label>
                                    <br>
                                    <input accept=".jpg, .png, .bmp, .jpeg" type="file" id="user_profile"
                                        name="image" />
                                    <img src="" id="user_img_profile" />
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-9 text-center">

                            <button type="submit" class="btn btn-primary col-lg-2" id="button_m">
                                <i class="fa fa-refresh"></i> Guardar Cambios
                            </button>

                            <a type="button" href="/user_management/user_manage"
                                class="btn btn-danger pull-right col-lg-2" id="button_m">
                                <i class="fa fa-times"></i> Cancelar Cambios &ThinSpace;
                            </a>
                        </div>
                    </form>
                </div>
                <!-- ./form Update-->
            </div>
            <!-- /.box-body -->
            <!-- Update Password -->
            <div class="box box-primary" id="accordion">
                <div class="box-header">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#changePass" aria-expanded="false"
                            class="collapsed">
                            Cambiar Password
                        </a>
                    </h4>
                </div>
                <div id="changePass" class="panel-collapse collapse" aria-expanded="false">
                    <div class="box-body">
                        <div class="card" id="card_middle">
                            <div class="card-header text-center">
                                <h4 class="text-green"></h4>
                            </div>
                            <div class="card-block">
                                <form action="/user_management/user_update_password/{{idUser}}" method="POST">
                                    <input type="hidden" value={{email}} name="email">
                                    <div class="form-group row has-success">
                                        <label class="col-sm-2 col-form-label">Anterior Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" placeholder="12345Ae.1x?"
                                                name="old_password" required>
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row has-success">
                                        <label class="col-sm-2 col-form-label">Repetir Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" placeholder="12345Ae.1x?"
                                                name="repeat_old_password" required>
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row has-success">
                                        <label class="col-sm-2 col-form-label">Nuevo Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" placeholder="12345Ae.1x?"
                                                name="new_password" required>
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2"></label>
                                        <div class="col-sm-6">
                                            <button class="btn btn-primary m-b-0" type="submit" id="button_m">Cambiar
                                                Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / .Update Password -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}