{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Cliente Empresa Comercializadora
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Empresa</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <!-- Company Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Empresa
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/company_management/company_manage" method="POST">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <input type="hidden" name="user" value="{{ user.username }}">
                                    <div class="col-md-6">
                                        <label>Nit</label>
                                        <input type="number" class="form-control"  placeholder="15748914014" min="1" name="nit" required value="{{nit}}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control"
                                            placeholder="Dell" name="name_company"
                                            required value="{{name_company}}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Razon Social</label>
                                        <input type="text" class="form-control"
                                            placeholder="Desktop" name="corporate"
                                            required value="{{corporate}}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Name Representante</label>
                                        <select class="form-control" name="name_representative" required >
                                            {{#each representativeOptions}}
                                                <option value="{{ci}}" selected>{{name_representative}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control"
                                            placeholder="recursos@dell.com" name="email"
                                            required value="{{email}}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Telefono</label>
                                        <input type="number" class="form-control"
                                            placeholder="76612512" name="phone" min="1"
                                            required value="{{phone}}">
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-4" id="button_m">
                                        <i class="fa fa-suitcase"></i> Registrar
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <br>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./Company Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Empresas</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <input class="form-control mb-4" id="tableSearch" type="text"
                         placeholder="Type something to search list items">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody id="myTable">
                                    <tr>
                                        <th>Nit</th>
                                        <th>Nombre</th>
                                        <th>Razon Social</th>
                                        <th>Nombre Representante</th>
                                        <th>Email</th>
                                        <th>Telefono</th>
                                        <th>Estado</th>
                                        <th>Contractos</th>
                                        <th>Modificar</th>
                                        <th>Reportes</th>
                                    </tr>
                                    {{#each listCompany}}
                                    <tr>
                                        <td>{{nit}}</td>
                                        <td>{{name_company}}</td>
                                        <td>{{corporate}}</td>
                                        <td>{{name_representative}}</td>
                                        <td>{{email}}</td>
                                        <td>{{phone}}</td>
                                        {{#if enable}}
                                        <td>
                                            <form action="/company_management/enable_disable_company/{{nit}}?_method=PUT" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <input type="hidden" name="action" value="disable">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Disable Company">
                                                    <span class="badge bg-green">Habilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="/company_management/contract_manage/{{nit}}" class="btn btn-link" title="Contracts"><i class="fa fa-suitcase"></i></a>
                                        </td>
                                        <td>
                                            <a href="/company_management/company_manage/update/{{nit}}" class="btn btn-link" title="Update"><i class="fa fa-edit"></i></a>
                                        </td>
                                        {{else}}
                                        <td>
                                            <form action="/company_management/enable_disable_company/{{nit}}?_method=PUT"
                                                method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                <input type="hidden" name="action" value="enable">
                                                <button type="submit" class="btn btn-action btn-sm btn-xs"
                                                    title="Enable Company">
                                                    <span class="badge bg-red">Deshabilitado</span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-link btn-sm" title="Contracts" disabled="disabled"><i class="fa fa-suitcase"></i></a>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-link" title="Edit" disabled="disabled">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </td>
                                        {{/if}}
                                        {{#if enable}}
                                        <td>
                                            <form action="/company_management/report_company_invoice/{{nit}}" method="POST">  
                                                <button type="submit" class="btn btn-link" title="PDF Report">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                </button>
                                            </form>
                                        </td>
                                        {{else}}
                                        <td>
                                            <a href="#" class="btn btn-link btn-sm" title="Contracts" disabled="disabled"><i class="fa fa-file-pdf-o"></i></a>
                                        </td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}