{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Cliente Empresa Comercializadora
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">NIT Empresa: <span class="label label-primary">{{nit}}</span></h3>
                <h3 class="box-title pull-right-container">Nombre Empresa: <span class="label label-primary">{{companyData.corporate}}</span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="box-body">
                    <form action="/company_management/company_update/{{nit}}?_method=PUT" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="col-lg-12">
                            <div class="box-group">
                                <div class="col-md-6">
                                    <label>Personal Representante</label>
                                    <select class="form-control" name="ci_representative" required>
                                        {{#each listOptionRepresentative}}
                                            <option value="{{ci}}" selected>{{name_representative}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="recursos@dell.com"
                                        name="email" required value="{{companyData.email}}">
                                </div>
                                <div class="col-md-6">
                                    <label>Telefono</label>
                                    <input type="number" class="form-control" placeholder="Desktop" name="phone" min="1"
                                        required value="{{companyData.phone}}">
                                </div>
                                <div class="col-md-6">
                                    <label>Estado</label>
                                    <div class="form-control">
                                        {{#if companyData.enable}}
                                        <div class="col-md-3">
                                            <label for="title">Habilitado</label>
                                            <input type="radio" name="enable" value="true" checked>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="title">Deshabilitado</label>
                                            <input type="radio" name="enable" value="false">
                                        </div>
                                        {{else}}
                                        <div class="col-md-3">
                                            <label for="title">Habilitado</label>
                                            <input type="radio" name="enable" value="true">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="title">Deshabilitado</label>
                                            <input type="radio" name="enable" value="false" checked>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="box-group">
                                    <button type="submit" class="btn btn-success col-md-4" id="button_m">
                                        <i class="fa fa-check"></i> Modificar
                                    </button>
                                    <a href="/company_management/company_manage" type="button"
                                        class="btn btn-danger col-md-4 pull-right" id="button_m">
                                        <i class="fa fa-times"></i> Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-12">
                                <br>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}