{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Cliente Empresa Comercializadora
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Información de Costos de Servicio</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="box box-primary">                    
                    <div class="box-body">
                        <input class="form-control mb-4" id="tableSearch" type="text"
                         placeholder="Search in table">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody id="myTable" style="text-align: center;">
                                    <tr>
                                        <th>NIT</th>
                                        <th>Nombre de Empresa</th>
                                        <th>Razón Social</th>
                                        <th>Cantidad de Pólizas Aplicadas</th>
                                        <th>Costo Total</th>  
                                        <th></th>                                         
                                    </tr>
                                    {{#each list_client_company_report}}                                    
                                    <tr>
                                        <td>{{nit}}</td>
                                        <td>{{name_company}}</td>
                                        <td>{{corporate}}</td>
                                        <td>{{count}} Pólizas</td>
                                        <td>{{sum}} Bs.</td>  
                                        <td> 
                                            <form action="/company_management/report_company_invoice/{{nit}}" method="POST">  
                                                <button type="submit" class="btn btn-success btn-sm btn-xs"
                                                    title="PDF Report">
                                                    <span class="badge bg-green"><i class="fa fa-file-pdf-o"></i> PDF</span>
                                                </button>
                                            </form>
                                        </td>                                                                            
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeamJS
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}