{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestión de Usuarios y Roles
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
            <input type="hidden" id="user_name" value="{{user.username}}">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Privilegios</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Privilegio
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/user_management/privilege_manage" method="POST">
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="col-md-4">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control" placeholder="Gestionar Almacen"
                                            name="description" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Descripción Privilegio Padre</label>
                                        <select class="form-control" name="id_super">
                                            {{#each privilegeOptions}}
                                            <option value="{{id_privilege}}">{{description_privilege}}</option>
                                            {{/each}}
                                            <option value="-1">None</option>
                                        </select>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-4" style="border-radius: 15px;">
                                        <i class="fa fa-gears"></i> Registrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Privilegios</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            {{#each privilegeList}}
                            <div class="col-md-6" style="border: 1px solid black">
                                <ul id="myUl">
                                    <li><span class="badge bg-green-gradient">{{id_privilege}}</span>{{description_privilege}}</li>
                                    {{#each list_sub_pr}}
                                    <ul>
                                        <li><span class="badge bg-green-gradient">{{id_privilege}}</span>{{description_privilege}}</li>
                                        {{#each list_sub_pr}}
                                        <ul>
                                            <li><span class="badge bg-green-gradient">{{id_privilege}}</span>{{description_privilege}}</li>
                                            {{#each list_sub_pr}}
                                            <ul>
                                                <li><span class="badge bg-green-gradient">{{id_privilege}}</span>{{description_privilege}}</li>
                                                {{#each list_sub_pr}}
                                                <ul>
                                                    <li><span class="badge bg-green-gradient">{{id_privilege}}</span>{{description_privilege}}</li>
                                                </ul>
                                                {{/each}}
                                            </ul>
                                            {{/each}}
                                        </ul>
                                        {{/each}}
                                    </ul>
                                    {{/each}}
                                </ul>
                            </div>
                            {{/each}}
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}