{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeamJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Actualizar Producto: {{productData.cod_product}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form action="/owner_management/product_update/{{productData.cod_product}}?_method=PUT"
                    method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="col-lg-12">
                        <div class="box-group">
                            <div class="widget-user-image">
                                <img class="" src="http://ec2-54-232-175-236.sa-east-1.compute.amazonaws.com/photo/{{productData.product_image}}" id="user_image">
                            </div>
                            <div class="col-md-3">
                                <label>Modelo</label>
                                    <input type="text" class="form-control" name="model" required
                                        value="{{productData.model}}">
                            </div>
                            <div class="col-md-2">
                                <label>Marca</label>
                                    <input type="text" class="form-control" name="brand" required
                                        value="{{productData.brand}}">
                            </div>
                            <div class="col-md-3">
                                <label>Categoria</label>
                                <select class="form-control" name="description_category">
                                    <option value="{{productData.id_category}}">{{productData.description_category}}</option>
                                    {{#each categoryList}}
                                    <option value="{{id_category}}">{{description_category}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success col-md-2" style="border-radius: 15px;">
                                <i class="fa fa-check"></i> Actualizar
                            </button>
                            <a href="/owner_management/product_manage" type="button" class="btn btn-danger col-md-2 pull-right"
                                style="border-radius: 15px;">
                                <i class="fa fa-close"></i> Cancelar 
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-7">
                            <br>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Descripcion del Producto</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea class="form-control" rows="3" name="description_product"
                                        required>{{productData.description_product}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <br>
                            <div class="form-group">
                                <label>Foto del Producto</label>
                                <br>
                                <input accept=".jpg, .png, .bmp, .jpeg" type="file" id="user_profile"
                                class="bg-green-gradient" name="image"/>
                                <img src="" id="user_img_profile" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}