{{> header }}
{{> aside }}
<!-- CONTAINER -->
<div class="content-wrapper container_form">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="customize">
            Gestion de Cliente Propietario y Solcitud de Servicio Técnico
            <small id="customize">RestTeam</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" id="customize"><i class="fa fa-home">Home</i></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{> messages }}
        {{>error}}
        <!-- Default box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Gestionar Producto</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title=""
                        data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!-- User Register -->
                <div class="box box-primary" id="accordion">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                class="collapsed">
                                Registrar Producto
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                        <form action="/owner_management/product_manage" method="POST" enctype="multipart/form-data">
                            <div class="col-lg-12">
                                <div class="box-group">
                                    <div class="col-md-3">
                                        <label>Modelo:</label>
                                        <input type="text" class="form-control" placeholder="Top Mount"
                                            name="model" value="{{model}}" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Marca:</label>
                                        <input type="text" class="form-control" placeholder="Bosh"
                                            name="brand" value="{{brand}}" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Categoria</label>
                                        <select class="form-control" name="id_category">
                                            {{#each categoryList}}
                                            <option value="{{id_category}}">{{description_category}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success col-md-3" style="border-radius: 15px;">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Registrar Producto
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <div class="col-md-7">
                                    <br>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Descripción del Producto</h3>
                                            </div>
                                            <div class="panel-body">
                                                <textarea class="form-control" rows="3" name="description_product" value="{{description_product}}"
                                                    required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <br>
                                        <div class="form-group">
                                            <label>Foto del Producto</label>
                                            <br>
                                            <input accept=".jpg, .png, .bmp, .jpeg" type="file" id="user_profile"
                                            class="bg-green-gradient" name="image" required />
                                            <img src="" id="user_img_profile" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./User Register -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            <a>Lista de Productos</a>
                        </h4>
                    </div>
                    <div class="box-body">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">                     
                            <table class="table table-hover">
                                <thead id="myTable">
                                    <tr>
                                        <th class="col-md-1">Cod</th>
                                        <th class="col-md-3">Descripción</th>
                                        <th style="col-md-3">Foto</th>
                                        <th class="col-md-2">Modelo</th>
                                        <th class="col-md-1">Marca</th>
                                        <th class="col-md-1">Categoria</th>
                                        <th class="col-md-1">Estado</th>
                                        <th class="col-md-1">Modificar</th>
                                    </tr>
                                    <tbody id="myTable">
                                        {{#each productList}}
                                        <tr>
                                            <td>{{cod_product}}</td>
                                            <td>{{description_product}}</td>
                                            <td>
                                                <button class="bg-aqua-gradient" id="button-load" onclick="loadImage('{{product_image}}');">
                                                    <img id="{{product_image}}" src="http://ec2-54-232-175-236.sa-east-1.compute.amazonaws.com/photo/{{product_image}}" class="see" data-toggle="modal"
                                                        data-target="#modal-info" style="width: 50px; height: 50px;">
                                                </button>
                                            </td>
                                            <td>{{model}}</td>
                                            <td>{{brand}}</td>
                                            <td>{{description_category}}</td>
                                            {{#if enable}}
                                            <td>
                                                <form action="/owner_management/product_manage/enable_disable/{{cod_product}}?_method=PUT"
                                                    method="POST">
                                                    <input type="hidden" value="PUT" name="_method">
                                                    <input type="hidden" value="disable" name="status">
                                                    <button type="submit" class="btn btn-action btn-success btn-sm btn-xs"
                                                        title="Disable Product">
                                                        <span class="badge bg-green">Habilitado</span>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <a href="/owner_management/product_update/{{cod_product}}" class="btn btn-link" title="Update">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </a>
                                            </td>
                                            {{else}}
                                            <td>
                                                <form
                                                    action="/owner_management/product_manage/enable_disable/{{cod_product}}?_method=PUT"
                                                    method="POST">
                                                    <input type="hidden" value="PUT" name="_method">
                                                    <input type="hidden" value="enable" name="status">
                                                    <button type="submit" class="btn btn-action btn-danger btn-sm btn-xs"
                                                        title="Enable Product">
                                                        <span class="badge bg-red">Deshabilitado</span>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-link" title="Update">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </a>
                                            </td>
                                            {{/if}}
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </thead>
                            </table>
                            <div class="modal modal-info fade" id="modal-info" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">X</span>
                                            </button>
                                            <h4 class="modal-title">Imagen del Producto</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img class="modal-content" id="img01" width="570" height="500">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline pull-left"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                            </div>
                        </div>
                        <script>
                            function loadImage(idImage) {
                                var modal = document.getElementById("modal-info");
                                var img = document.getElementById(idImage);
                                var modalImg = document.getElementById("img01");
                                modal.style.display = "block";
                                modalImg.src = img.src;
                            }
                        </script>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="#" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook Page's RestTeam
                </a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- ./CONTAINER -->
{{> footer}}